/* Seaman profile */
/* New responsive styles */
[class*="body-seamen-"][class*="-wrapper"],
[class*="body-seaman-"][class*="-wrapper"],
[class*="body-crewing-"][class*="-wrapper"] {
    @media(max-width: 1400px) {
        .field-countriesArray {
            .select2-container {
                width: 100% !important;
            }
        }
        .mz-plans-inner {
            padding: 25px 10px !important;
        }
    }
    @media(max-width: 1200px) {
        .messages-wrapper {
            .table {
                .col-md-10 {
                    width: 100% !important;
                    margin-bottom: 10px;
                }
            }
        }
        .mz-plans {
            .fake-table {
                padding: 0 3px;
                .mz-plans-inner {
                    padding: 25px 5px !important;
                }
            }

        }
        .mz-show {
            padding: 0;
        }
        .seamen-settings-wrapper {
            .seamen-hide-account {
                padding: 30px;
                .row {
                    display: flex;
                    align-items: center;
                    .col-md-4 {
                        width: 40% !important;
                        .form-group {
                            margin-bottom: 0;
                        }
                    }
                    .col-md-6 {
                        width: 42% !important;
                        margin-left: auto;
                    }
                }
            }
        }

        .subscriptions-list {
            .subscription-item {
                padding-bottom: 1.6em !important;

                .sub-entity-notifications {
                    display: none;
                }

                .sub-alt-entity-notifications {
                    position: absolute;
                    bottom: 6px;
                    right: 6px;
                    display: block !important;
                }
            }
        }
    }
    @media(max-width: 992px) {
        .messages-wrapper {
            .col-md-5 {
                width: 100% !important;
            }
            .table {
                .bottom {
                    width: auto !important;
                }
            }
        }
        .seamen-visitors {
            .summary {
                text-align: center;
            }
            .visitors-table-list {
                .info-row {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    [class*="-cell"] {
                        width: 100%;
                        text-align: center;
                        height: auto;
                        padding: 5px 0;
                        .btn {
                            float: none !important;
                        }
                        .logo {
                            margin: 10px auto 0;
                        }
                    }
                } 
            }   
        }
        .mz-plans {
            display: flex;
            flex-direction: column;
            .mz-show {
                order: 2;
                .col-md-3 {
                    display: none;
                }
                .col-md-9 {
                    width: 100% !important;
                }
            }
            .fake-table {
                display: none;
                &.hidden {
                    display: block !important;
                }
                .mz-plans-inner {
                    padding: 25px 5px!important;
                }
            }
        }
        .seamen-settings-wrapper {
            .seamen-hide-account {
                .row {
                    flex-wrap: wrap;
                    .col-md-6 {
                        width: 32% !important;
                    }
                    .col-md-4 {
                        width: 50% !important;
                    }
                }
            }
            form#w1 {
                .form {
                    .col-md-10 {
                        width: 100% !important;
                        margin-top: 10px;
                    }
                    .col-md-2 {
                        width: auto !important;
                        float: right;
                        .control-label {
                            display: none;
                        }
                    }
                }
            }
        }
        .sub-wrapper {
            .col-md-9 {
                width: 100% !important;
            }
            .col-md-3 {
                width: auto !important;
                margin-top: 10px;
            }
        }
        #sub-new-form {
            .form-group {
                .col-md-2 {
                    width: 25% !important;
                    &:first-child {
                        width: 20% !important;
                    }
                }
                .col-md-4 {
                    width: 50% !important;
                }
                .col-md-3 {
                    width: 30% !important;
                    float: right;
                }
                .col-md-offset-2 {
                    margin-left: 20%;
                }
            }
        }
    }
    @media(max-width: 768px) {
        .messages-wrapper {
            padding: 15px;
            .counter-cell {
                .counter {
                    padding-right: 10px;
                }
            }

            .scrollbar-inner {
                height: auto;
                max-height: unset;
            }
            .item {
                &.active {
                    .info-row {
                        > div:first-child, > div:last-child {
                            padding-right: 10px;
                            padding-left: 10px;
                        }
                    }
                }
                .info-row > * {
                    padding: 10px;
                    height: 100%;
                }
            }
        }
        .seamen-subscriptions {
            padding: 20px 15px;
            h3.h3 {
                text-align: center;
            }
            .seamen-vacancies {
                margin-top: 10px;
                tr {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    &:first-child {
                        display: none;
                    }
                    td {
                        padding: 10px 0;
                        &:nth-child(6) {
                            position: absolute;
                            right: 0;
                        }
                    }
                    td[data-th] {
                        text-align: left;
                        width: 100%;
                        padding: 10px 0;
                        position: relative;
                        padding-left: 31%;
                        line-height: 1.2;
                        &:before {
                            font-size: 0.9em;
                            color: rgb(120, 120, 120);
                            display: block;   
                            margin-bottom: 4px;  
                            position: absolute; 
                            width: 30%;
                            left: 0;
                            content: attr(data-th) + ':';
                        }
                        div:not(.company-logo) {
                            width: auto;
                            margin: 0;
                        }
                        .company-logo {
                            position: relative;
                        }
                        &:nth-child(5) {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            position: relative;
                            padding-top: 5px;
                            .company-name {
                                margin: 0 10px;
                            }
                        }
                        &:nth-child(1) {
                            display: flex;
                            align-items: baseline;
                            span {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            .btn-show-more {
                    width: auto;
                    margin: 10px auto;
                    display: block;
            }
        }
        .mz-plans {
            position: relative;
            .mz-show {
                position: absolute;
                top: 50%;
                .to-top-buynow {
                    .row {
                        flex-direction: column;
                        .col-md-6 {
                            width: 100% !important;
                            margin: 10px 0 0;
                        }    
                    }
                }
                .item-title-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .item-title {
                        width: auto;
                        padding: 0;
                    }
                }
                .last-contracts-wrap {
                    .col-md-2 {
                        display: none;
                    }
                    .col-md-10 {
                        width: 100% !important;
                    }
                }
                .hot {
                    .item-right-column {
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }
                }
            }
            .fake-table.hidden {
                .mz-plans-hidden {
                    flex-direction: column;
                    .col-md-4 {
                        width: 100% !important;
                        margin-bottom: 10px;
                    }
                    .mz-plans-inner {
                        padding: 25px!important;
                        min-height: unset !important;
                        position: relative;
                        .mz-plans-duration {
                            justify-content: flex-start;
                            > * {
                                margin-right: 10px;
                            }
                        }
                        .mz-plan-buy .btn-orange {
                            position: absolute;
                            right: 25px;
                            bottom: 25px;
                        }
                    }
                }
            }
        }
        .sub-wrapper {
            padding: 15px;
            .subscriptions-list {
                .subscription-item {
                    .sub-entity-vacancies {
                        text-align: center;
                    }

                    .sub-entity-vacancies {
                        width: auto;
                    }
                }
            }
        }

        #sub-new-form {
            .form-group {
                .col-md-2 {
                    width: 27.5% !important;
                    &:first-child {
                        width: 25% !important;
                    }
                }
                .col-md-4 {
                    width: 55% !important;
                    &.auto-feed-details {
                        width: 75% !important;
                    }
                }
                .col-md-3 {
                    width: 20% !important;
                    float: right;
                }
                .col-md-offset-2 {
                    margin-left: 25%;
                }
            }
        }
        .seamen-settings-wrapper {
            .seamen-hide-account {
                padding: 15px;
                .row {
                    .col-md-6 {
                        width: 100% !important;
                        margin-top: 10px;
                        p {
                            border-left: none;
                            border-top: 1px solid #52c2df;
                            padding-top: 10px;
                            text-align: justify;
                            position: relative;
                            &:before {
                                content:"\f129";
                                position: absolute;
                                left: 0;
                                top: 10px;
                                font-family: FontAwesome;
                                color: #52c2df;
                            }
                        }
                    }
                    .col-md-4 {
                        width: auto !important;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .blue-checkbox {
                            padding: 0;
                        }
                    }
                    .col-md-2 {
                        width: auto !important;
                        margin-left: auto;
                    }
                }
            }
            form#w1 {
                margin-bottom: 30px;
                .form {
                    .col-md-10 {
                        width: 100% !important;
                        margin-top: 10px;
                        .row {
                            .col-md-4 {
                                width: 100% !important;
                            }
                        }
                    }
                    .col-md-2 {
                        float: none;
                        clear: both;
                    }
                }
            }
        }
    }
    @media(max-width: 600px) {
        .messages-wrapper {
            .block-header {
                text-align: center;
                .landing-button {
                    position: relative;
                }
            }
            .info-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                > * {
                    width: auto;
                }
            }
        }
        .seamen-settings-wrapper {
            .seamen-hide-account {
                .row {
                    flex-direction: column;
                    .col-md-2 {
                        margin-top: 15px;
                        margin: 10px auto 0;
                    }
                }
            }
        }
        .sub-wrapper {
            padding: 10px;
            .subscriptions-list {
                .subscription-item {
                    flex-direction: column;
                    padding-bottom: 1em !important;

                    [class*=col-md-] {
                        width: 100% !important;
                        text-align: center;
                        justify-content: center !important;
                        padding-top: 10px;
                        &:not(:last-child) {
                            border-bottom: 1px dashed #1E3C49;
                            padding-bottom: 10px;
                        }
                    }

                    .sub-entity-notifications {
                        display: block;
                    }

                    .sub-alt-entity-notifications {
                        display: none !important;
                    }
                }
            }
        }
        #sub-new-form {
            .form-group {
                margin-bottom: 0;
                .col-md-2 {
                    width: 35% !important;
                    &:first-child {
                        width: 100% !important;
                        margin-bottom: 10px;
                    }
                }
                .col-md-4 {
                    width: 70% !important;
                    &.auto-feed-details {
                        width: 100% !important;
                    }
                }
                .col-md-3 {
                    width: 30% !important;
                    float: right;
                }
                .col-md-offset-2 {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    @media(max-width: 475px) {
        .messages-wrapper {
            .info-row {
                flex-direction: column;
                > * {
                    text-align: center;
                }
            }
            .messages-chat {
                .scroll-content {
                    padding-right: 10px !important;
                    padding-left: 10px !important;
                }
            }
        }
        .seamen-settings-wrapper {
            .seamen-hide-account {
                .row {
                    flex-direction: column;
                    .col-md-4 {
                        width: 100% !important;
                        flex-direction: column;
                        .blue-checkbox {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .seamen-subscriptions {
            .seamen-vacancies {
                tr {
                    td {
                        &:nth-child(6) {
                            position: relative;
                        }
                    }
                    td[data-th] {
                        padding: 10px 0;
                        text-align: center;
                        &:before {
                            display: block;   
                            margin-bottom: 4px;  
                            position: relative; 
                            width: auto;
                            text-align: center;
                        }
                        div:not(.company-logo) {
                            width: auto;
                            margin: 0;
                        }
                        .company-logo {
                            position: relative;
                        }
                        &:nth-child(5) {
                            justify-content: center;
                            padding-top: 20px;
                            &:before {
                                position: absolute;
                                top: 5px;
                                width: 100%;
                                text-align: center;
                            }
                        }
                        &:nth-child(1) {
                            display: block;
                        }
                    }
                }
            }
        }
        .mz-plans {
            .mz-show {
                .row.no-margin {
                    padding: 30px 10px;
                } 
                .to-top-buynow {
                    .row {
                        padding: 10px;
                    }
                }
            }
            .fake-table.hidden {
                .mz-plans-hidden {
                    .mz-plans-inner {
                        padding: 15px!important;
                        .mz-plans-duration {
                            justify-content: space-between;
                        }
                        .mz-plan-buy .btn-orange {
                            position: relative;
                            bottom: unset;
                            right: unset;
                        }
                    }
                }
            }
        }
        #sub-new-form {
            .form-group {
                margin: 0 !important;
                [class*='col-md-'] {
                    padding: 0;
                }
                .col-md-2 {
                    width: 50% !important;
                    &:first-child {
                        width: 100% !important;
                    }
                }
                .col-md-4 {
                    width: 100% !important;
                    &.auto-feed-details {
                        width: 100% !important;
                    }
                }
                .col-md-3 {
                    display: none;
                }
                .col-md-offset-2 {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    @media(max-width: 375px) {
            .messages-wrapper {
                .table {
                    .bottom {
                        width: 100% !important;
                    }
                }
            }
    }

}
