/* Seaman profile */
.flexed {
    display: flex;
}

#seamen-profile-banner {
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    line-height: 1.2em;
    border-radius: 8px;
    color: #FFFFFF;
    position: relative;


    &.welcome-banner{
        background-image: url(../img/hands.svg);
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-color: #4BC65F;
        border-color: #F26202;

        i.icon-mz-font:first-child {
            display: none;
        }

        .content {
            margin-left: 110px;
        }
    }

    &.notification-banner{
        background-color: #F26202;
        border-color: #F26202;

        i.icon-mz-font:first-child {
            font-size: 65px;
            float: left;
            margin-left: 20px;
        }

        .content {
            margin-left: 25px;
        }
    }

    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #fff;
        font-weight: 100;
        opacity: 0.8;
    }
    p {
        width: 100%;
    }
    img {
        float: left;
        margin-right: 1em;
    }


    .content {
        width: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }

    .details-btn {
        font-family: Roboto;
        margin-left: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-top: 0;
        margin-right: 10px;
    }
}


#seamen-service-banner {
    margin-bottom: 30px;
    background-color: #F26202;
    border-color: #F26202;
    padding: 18px 20px 18px 20px;
    line-height: 1.2em;
    border-radius: 8px;
    color: #FFFFFF;
    position: relative;

    i.icon-mz-font:first-child {
        font-size: 58px;
        float: left;
        margin-right: 10px;
        margin-top: 20px;
    }

    .content {
        width: 460px;
        font-size: 14px;
        float: left;
        h3 {
            font-size: 22px;
            color: #FFFFFF;
        }
    }

    .priceFrom{
        float: right;
        font-size: 32px;
        margin-right: 15px;
        padding-top: 22px;
    }

    .details-btn {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        opacity: .4;
    }
    .close:hover, .close:focus {
        opacity: .7;
    }
}


.profile-inner {    
    .col-md- {
        float: left;
        &.seamen_job-col {
            width: 25%;
        }
        &.minimal_salary-col {
            width: 30%;
        }
    }
    .requests-sent {
        margin-top: 15px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        span {
            color: #FA6414;
            i {
                margin-right: 5px;
            }

        }
    }

    .seamen-logo {
        .image {
            height: auto;
            border: none;
        } 
        .title {
            text-align: center;
        }   
    }

    .seaman-stats {
        margin: 25px -15px;
        .white-box {
            padding: 0;
        } 
       .stats-head {
            padding: 0 25px;
            border-bottom: 1px solid rgba(0,0,0, 0.2);
            .count {
                font-weight: 500;
                font-size: 90px;
                line-height: 105px;
                color: #0A2835;
            }
            .stats-info {
                flex-direction: column;
                margin-left: 20px;
                justify-content: center;
                position: relative;
                strong {
                    font-family: RobotoB;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0A2835;
                    text-transform: uppercase;
                }
                p {
                    position: absolute;
                    bottom: 18%;
                    font-size: 12px;
                    line-height: 14px;
                }

                .new {
                    display: inline-block;
                    background-color: #fa6414;
                    font-size: 12px;
                    padding: 4px 5px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    color: #ffffff;
                    position: absolute;
                    margin-top: -1px;
                    margin-left: 7px;
                    right: -70%;
                }

            }
        }
        .stats-body {
            min-height: 85px;
            padding: 20px 25px;
            border-bottom: 1px solid rgba(0,0,0, 0.2);
            strong {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #0A2835;
                margin-bottom: 5px;
                display: block;
            }      
        }
        .stats-footer {
            padding: 20px 25px;
            justify-content: space-between;
            align-items: center;
            min-height: 60px;
            i {
                font-size: 20px !important;
            }
            a {
                font-size: 14px;
                margin-left: auto;
                i {
                    font-size: 14px;
                }
            }

            a.settings {
                margin-left: 0;
                color: #787878;
            }
        }
    }

    .select2-container--default .select2-selection--single {
        border: none;
    }
    .progress-block {
        margin-top: 15px;
        padding: 30px 30px 17px;
        [class*='col-md-'] {
            padding-right: 30px;
        }
        p {
            font-size: 18px;
            font-family: RobotoB;
            color: #0a2835;
            line-height: 22px;
            &.red-text {
                color: #ff4042;
            }
            &.progress-info {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #74858A;
                margin-bottom: 10px;
                width: 80%;
            }
        }
        .progress-improve {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #4B9AC6;
            cursor: pointer;
        }
        .progress {
            margin-top: 18px;
        }
        .progress-notes {
            padding-top: 4px;
            ul#hidden-notes {
                display: none;
            }
            ul {
                li {
                    color: #4B9AC6;
                    font-size: 14px;
                    position: relative;
                    margin-bottom: 6px;
                    padding-left: 18px;
                    a, span{
                        color: #4B9AC6;
                        display: inline-block;
                        strong {
                            color: red;
                        }
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                    &:before {
                        font-family: 'MZicons';
                        content: '\e907';
                        font-size: 1em;
                        vertical-align: middle;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .percent {
                        color: #FA6414;
                    }
                }
            }
            .view-more-notes {
                margin-left: 18px;
                font-size: 14px;
                color: #52c2df;
                margin-top: 0;
                text-align: left;
                font-family: Roboto;
                span {
                    display: flex;
                    align-items: center;
                }
                strong {
                    font-family: RobotoB;
                }
                i.fa {
                    display: inline-block;
                    margin-left: 5px;
                    font-size: 16px;
                }
            }
        }
    }
}



/*tooltips*/
.profile-inner {
    .tooltip-inner {
        background-color: #fff !important;
        width: auto!important;
        color: #1E3C49;
        height: 100%!important;
        padding: 15px;
        font-size: 15px!important;
        font-family: Roboto;
        box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
        border-radius: 10px;
        text-align: left;
    }
    .tooltip {
        font-size: 14px;
        opacity: 1;
        font-family: Roboto;

        .tooltip-arrow {
            border-top-color: #fff !important;
        }
    }
    .tooltip.bottom {
        .tooltip-arrow {
            border-bottom-color: #fff !important;
        }
        display: none;
    }
    .tooltip.right {
        .tooltip-arrow {
            border-top-color: transparent!important;
            border-right-color: #fff !important;
        }
    }
}


// Select for status

.field-seamen_status_field {
    .select2 {
        width: 100% !important;
    }
}


.status-dropdown {
    border-radius: 5px !important;
    overflow: hidden;
    &.select2-dropdown--below {
        //margin-top: 10px;
        border-top: 1px solid #aaa !important;
    }
    li.select2-results__option {
        &[aria-selected="true"] {
            color: #1E3C49 !important;
            font-family: Roboto, FontAwesome;
            position: relative;
            z-index: 0;
            &:before {
                    content: "\f00c";
                    position: absolute;
                    z-index: 1000;
                    left: 8px;
                    top: 9px;
                    font-size: 8px !important;
                    color: #fff !important; 
            }     
        }
    }
}


.status-empty {
        color: rgba(116, 133, 138, 0.5);
    }
    .status-orange {
        color: #FA9E14;
    }
    .status-blue {
        color: #52C2DF;
    }
    .status-green {
        color: #4BC65F;
    }
    .status-grey {
        color: #74858A;   
    }

.no-search {
    outline: none;
    .select2-selection__rendered {
        display: flex !important;
        align-items: center;
        border-radius: 5px !important;
        span {
            margin-left: 5px;
        }
    }
    

}






/* Modal banner */
#seamen-profile-banner-as-modal {

    &.welcome-banner{
        .modal-content {
            background: #4BC65F;
            color: #fff;
        }
        .modal-header {
            border: none;
            background-image: url(../img/hands.svg);
            background-repeat: no-repeat;
            background-position: 10px 10px;
            .modal-title {
                margin-left: 105px;
                margin-right: 20px;
                min-height: 70px;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-transform: none;
            }
        }

        i.icon-mz-font:first-child {
            display: none;
        }
    }

    &.notification-banner{
        .modal-content {
            background: #F26202;
            color: #fff;
        }
        .modal-header {
            border: none;
            .modal-title {
                margin-left: 60px;
                margin-right: 20px;
                min-height: 70px;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-transform: none;
            }
        }

        i.icon-mz-font:first-child {
            font-size: 50px;
            float: left;
            margin-left: 0px;
        }
    }


    .modal-body {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .modal-footer {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .dark-btn {
            width: 150px;
            padding:12px 5px;
            text-align: center;
            margin-top: 10px;
        }
    }
}

#seamen-service-banner-as-modal {
    .modal-content {
        background-color: #F26202;
        border-color: #F26202;
        color: #fff;
    }
    .modal-header {
        border: none;

        i.icon-mz-font {
            font-size: 58px;
            float: left;
            margin-right: 10px;
            margin-top: 20px;
        }

        .modal-title {
            margin-left: 100px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-transform: none;
        }
    }
    .modal-body {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .modal-footer {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .dark-btn {
            width: 150px;
            padding:12px 5px;
            text-align: center;
            margin-top: 10px;
        }
    }
}


@media(max-width: 1400px) {
    #seamen-profile-banner.welcome-banner {
        p,h3 {
            width: 95%;
        }
    }
    .profile-inner {
        .seamen-last-contract-block {
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .contract {
                    width: auto;
                    .contract-title {
                        text-align: left;
                        width: auto;
                    }
                }
                .title {
                    margin-right: auto;
                }
                .control-buttons {
                    display: flex;
                    align-items: center;
                    width: auto;
                }
            }
        }
    }
}

@media(max-width:1200px) {
    .profile-inner {
        .seaman-stats {
            .col-xs-12 {
                margin-bottom: 15px;
            }
        }
    }
}

@media(max-width:1024px) {
    #seamen-profile-banner {
        p {
            max-width: 670px;
        }
    }
}

@media(max-width: 992px) {
    #seamen-profile-banner {
        flex-direction: column;
        text-align: center;
        background-position: 10px 50%;

        &.notification-banner {
            /*flex-direction: unset;
            text-align: left;*/
            i.icon-mz-font:first-child {
                margin-top: 20px;
                margin-bottom: 30px;
            }

        }

        p {
            width: 100%;
        }
        .details-btn {
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .profiles-menu {
        display: none;
    }
    .profile-inner {
        .seaman-main-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .col-md-3 {
                width: 30% !important;
            }
            .col-md-9 {
                width: 70% !important;
                &.pull-right {
                    width: 100% !important;
                }
            }
            .seamen-info-form {
                .col-md- {
                    width: 100%;
                    margin-bottom: 20px;
                    &.seamen_status_field-col {
                        width: 63%;
                        padding-right: 0;
                    }
                    &.seamen_status_date_to-col {
                        width: 35%;
                        float: right;
                        padding-left: 0;
                        .date {
                            width: 100%;
                        }
                    }
                }
            }
            .seamen-logo {
                margin-bottom: 15px;
                .image {
                    a {
                        width: 100%;
                    }
                }
                .title {
                    text-align: center;
                    min-height: auto;
                }
            }
        }
        .seamen-last-contract-block {
            .row {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                .blue-btn {
                    margin-top: 0;
                }
                .col-md- {
                    // // width: 100%;
                    // text-align: center;
                    &.contract {
                        display: flex;
                        margin: 0 0 auto 0;
                        text-align: left;
                        flex-direction: row;
                        align-items: flex-start;
                        .contract-title {
                            width: auto;
                        } 
                    }
                    &.control-buttons {
                        justify-content: center;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .profile-inner {
        .seamen-logo {
            .title {
                padding: 18px 10px;
            }
        }
        .seaman-main-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .col-md-9.pull-right {
                width: 100% !important;
            }
            .seamen-info-form {
                .col-md- {
                    width: 100%;
                    margin-bottom: 20px;
                    &.seamen_status_field-col {
                        width: 63%;
                        padding-right: 0;
                    }
                    &.seamen_status_date_to-col {
                        width: 35%;
                        float: right;
                        padding-left: 0;
                        .date {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .progress-block {
            [class*="col-md-"] {
                // width: 100% !important;
                padding-right: 15px;
                p.progress-info {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 600px) {
    #seamen-profile-banner,
    #seamen-service-banner {
        display: none;
    }
    .profile-inner {
        .seaman-main-info {
            .col-md-3, .col-md-9 {
                width: 100% !important;
            }
            .seamen-logo {
                .image {
                    a {
                        width: 197px;
                    }
                }
            }
        }
        
        .progress-block {
            [class*="col-md-"] {
                width: 100% !important;
                padding-right: 15px;
                .progress-notes {
                    margin-top: 20px;
                }
            }
        }
        .seamen-last-contract-block {
            .row {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .blue-btn {
                    margin-top: 0;
                }
                .col-md- {
                    width: 100%;
                    text-align: center;
                    &.contract {
                        display: flex;
                        margin: 0 0 auto 0;
                        text-align: left;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        .contract-title {
                            width: auto;
                            margin-top: 15px;
                        } 
                        .contract-info {
                            padding: 0;
                        }
                    }
                    &.control-buttons {
                        justify-content: center;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

@media(max-width: 475px) {
    .profile-inner {
        .seaman-main-info {
            .seamen-logo {
                display: flex;
                align-items: center;
                .image {
                    a {
                        width: 100%;
                    }    
                }  
            }
        }
        
        .contract {
            flex-direction: column;
            align-items: center;
        }
        .white-box {
            &:not(.seamen-logo):not(.stats-block) {
                padding: 25px 20px;        
            }
        }
    }
    
    .seamen-last-contract-block {
        .control-buttons {
            display: flex;
            flex-direction: column;
            .btn {
                margin-left: 0 !important;
                margin-top: 10px !important;
            }
        }
    }
    #mzModal-banner {
        .modal-header {    
            .modal-title {
                width: 40%;
            }
        }
    }
}

@media(max-width: 420px) {
    .profile-inner {
        .requests-sent {
            padding: 0 20px;
        }
        .seamen-pagination {
            .dark-btn {
                min-width: 165px;
                padding: 12px 5px;
            }
        }
        .seamen-logo {
            padding: 0;
        }
    }
}

@media(max-width: 360px) {
    .profile-inner {
        .seamen_status_field-col, .seamen_status_date_to-col {
            width: 100% !important;
            padding: 0 15px !important;
        }
    }
    .seamen-pagination {
        flex-direction: column;
        display: flex;
        .dark-btn {
            margin-top: 10px;
        }
    }
}