/* Seaman profile */
/* New responsive styles */
@media (max-width: 1400px) {
  [class*="body-seamen-"][class*="-wrapper"] .field-countriesArray .select2-container,
  [class*="body-seaman-"][class*="-wrapper"] .field-countriesArray .select2-container,
  [class*="body-crewing-"][class*="-wrapper"] .field-countriesArray .select2-container {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans-inner,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans-inner,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans-inner {
    padding: 25px 10px !important;
  }
}
@media (max-width: 1200px) {
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .table .col-md-10,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .table .col-md-10,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .table .col-md-10 {
    width: 100% !important;
    margin-bottom: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table {
    padding: 0 3px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table .mz-plans-inner,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table .mz-plans-inner,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table .mz-plans-inner {
    padding: 25px 5px !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-show,
  [class*="body-seaman-"][class*="-wrapper"] .mz-show,
  [class*="body-crewing-"][class*="-wrapper"] .mz-show {
    padding: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account {
    padding: 30px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row {
    display: flex;
    align-items: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 {
    width: 40% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .form-group,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .form-group,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .form-group {
    margin-bottom: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 {
    width: 42% !important;
    margin-left: auto;
  }
  [class*="body-seamen-"][class*="-wrapper"] .subscriptions-list .subscription-item,
  [class*="body-seaman-"][class*="-wrapper"] .subscriptions-list .subscription-item,
  [class*="body-crewing-"][class*="-wrapper"] .subscriptions-list .subscription-item {
    padding-bottom: 1.6em !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .subscriptions-list .subscription-item .sub-entity-notifications,
  [class*="body-seaman-"][class*="-wrapper"] .subscriptions-list .subscription-item .sub-entity-notifications,
  [class*="body-crewing-"][class*="-wrapper"] .subscriptions-list .subscription-item .sub-entity-notifications {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] .subscriptions-list .subscription-item .sub-alt-entity-notifications,
  [class*="body-seaman-"][class*="-wrapper"] .subscriptions-list .subscription-item .sub-alt-entity-notifications,
  [class*="body-crewing-"][class*="-wrapper"] .subscriptions-list .subscription-item .sub-alt-entity-notifications {
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: block !important;
  }
}
@media (max-width: 992px) {
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .col-md-5,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .col-md-5,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .col-md-5 {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .table .bottom,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .table .bottom,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .table .bottom {
    width: auto !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-visitors .summary,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-visitors .summary,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-visitors .summary {
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"],
  [class*="body-seaman-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"],
  [class*="body-crewing-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 5px 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] .btn,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] .btn,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] .btn {
    float: none !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] .logo,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] .logo,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-visitors .visitors-table-list .info-row [class*="-cell"] .logo {
    margin: 10px auto 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans {
    display: flex;
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show {
    order: 2;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .col-md-3,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .col-md-3,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .col-md-3 {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .col-md-9,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .col-md-9,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .col-md-9 {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden {
    display: block !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table .mz-plans-inner,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table .mz-plans-inner,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table .mz-plans-inner {
    padding: 25px 5px!important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row {
    flex-wrap: wrap;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 {
    width: 32% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 {
    width: 50% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10 {
    width: 100% !important;
    margin-top: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2 {
    width: auto !important;
    float: right;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2 .control-label,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2 .control-label,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2 .control-label {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .col-md-9,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .col-md-9,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .col-md-9 {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .col-md-3,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .col-md-3,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .col-md-3 {
    width: auto !important;
    margin-top: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2 {
    width: 25% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child {
    width: 20% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4 {
    width: 50% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3 {
    width: 30% !important;
    float: right;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2 {
    margin-left: 20%;
  }
}
@media (max-width: 768px) {
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper {
    padding: 15px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .counter-cell .counter,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .counter-cell .counter,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .counter-cell .counter {
    padding-right: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .scrollbar-inner,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .scrollbar-inner,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .scrollbar-inner {
    height: auto;
    max-height: unset;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .item.active .info-row > div:first-child,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .item.active .info-row > div:first-child,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .item.active .info-row > div:first-child,
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .item.active .info-row > div:last-child,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .item.active .info-row > div:last-child,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .item.active .info-row > div:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .item .info-row > *,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .item .info-row > *,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .item .info-row > * {
    padding: 10px;
    height: 100%;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions {
    padding: 20px 15px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions h3.h3,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions h3.h3,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions h3.h3 {
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies {
    margin-top: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr:first-child,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr:first-child,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr:first-child {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td {
    padding: 10px 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td:nth-child(6),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td:nth-child(6),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td:nth-child(6) {
    position: absolute;
    right: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th],
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th],
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] {
    text-align: left;
    width: 100%;
    padding: 10px 0;
    position: relative;
    padding-left: 31%;
    line-height: 1.2;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:before,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:before,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:before {
    font-size: 0.9em;
    color: #787878;
    display: block;
    margin-bottom: 4px;
    position: absolute;
    width: 30%;
    left: 0;
    content: attr(data-th) ':';
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] div:not(.company-logo),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] div:not(.company-logo),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] div:not(.company-logo) {
    width: auto;
    margin: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] .company-logo,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] .company-logo,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] .company-logo {
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 5px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5) .company-name,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5) .company-name,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5) .company-name {
    margin: 0 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1) {
    display: flex;
    align-items: baseline;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1) span,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1) span,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1) span {
    margin-left: 5px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .btn-show-more,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .btn-show-more,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .btn-show-more {
    width: auto;
    margin: 10px auto;
    display: block;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans {
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show {
    position: absolute;
    top: 50%;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row {
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row .col-md-6,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row .col-md-6,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row .col-md-6 {
    width: 100% !important;
    margin: 10px 0 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .item-title-block,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .item-title-block,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .item-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .item-title-block .item-title,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .item-title-block .item-title,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .item-title-block .item-title {
    width: auto;
    padding: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .last-contracts-wrap .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .last-contracts-wrap .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .last-contracts-wrap .col-md-2 {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .last-contracts-wrap .col-md-10,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .last-contracts-wrap .col-md-10,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .last-contracts-wrap .col-md-10 {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .hot .item-right-column,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .hot .item-right-column,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .hot .item-right-column {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden {
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .col-md-4 {
    width: 100% !important;
    margin-bottom: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner {
    padding: 25px!important;
    min-height: unset !important;
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration {
    justify-content: flex-start;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration > *,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration > *,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration > * {
    margin-right: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plan-buy .btn-orange,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plan-buy .btn-orange,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plan-buy .btn-orange {
    position: absolute;
    right: 25px;
    bottom: 25px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper {
    padding: 15px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-vacancies,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-vacancies,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-vacancies {
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-vacancies,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-vacancies,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-vacancies {
    width: auto;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2 {
    width: 27.5% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child {
    width: 25% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4 {
    width: 55% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details {
    width: 75% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3 {
    width: 20% !important;
    float: right;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2 {
    margin-left: 25%;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account {
    padding: 15px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 {
    width: 100% !important;
    margin-top: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 p,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 p,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 p {
    border-left: none;
    border-top: 1px solid #52c2df;
    padding-top: 10px;
    text-align: justify;
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 p:before,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 p:before,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-6 p:before {
    content: "\f129";
    position: absolute;
    left: 0;
    top: 10px;
    font-family: FontAwesome;
    color: #52c2df;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 {
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .blue-checkbox,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .blue-checkbox,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .blue-checkbox {
    padding: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-2 {
    width: auto !important;
    margin-left: auto;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 {
    margin-bottom: 30px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10 {
    width: 100% !important;
    margin-top: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10 .row .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10 .row .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-10 .row .col-md-4 {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper form#w1 .form .col-md-2 {
    float: none;
    clear: both;
  }
}
@media (max-width: 600px) {
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .block-header,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .block-header,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .block-header {
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .block-header .landing-button,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .block-header .landing-button,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .block-header .landing-button {
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .info-row,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .info-row,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .info-row > *,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .info-row > *,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .info-row > * {
    width: auto;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row {
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-2 {
    margin-top: 15px;
    margin: 10px auto 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper {
    padding: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item {
    flex-direction: column;
    padding-bottom: 1em !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item [class*=col-md-],
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item [class*=col-md-],
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item [class*=col-md-] {
    width: 100% !important;
    text-align: center;
    justify-content: center !important;
    padding-top: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item [class*=col-md-]:not(:last-child),
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item [class*=col-md-]:not(:last-child),
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item [class*=col-md-]:not(:last-child) {
    border-bottom: 1px dashed #1E3C49;
    padding-bottom: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-notifications,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-notifications,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-entity-notifications {
    display: block;
  }
  [class*="body-seamen-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-alt-entity-notifications,
  [class*="body-seaman-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-alt-entity-notifications,
  [class*="body-crewing-"][class*="-wrapper"] .sub-wrapper .subscriptions-list .subscription-item .sub-alt-entity-notifications {
    display: none !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group {
    margin-bottom: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2 {
    width: 35% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child {
    width: 100% !important;
    margin-bottom: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4 {
    width: 70% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3 {
    width: 30% !important;
    float: right;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2 {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 475px) {
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .info-row,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .info-row,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .info-row {
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .info-row > *,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .info-row > *,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .info-row > * {
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .messages-chat .scroll-content,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .messages-chat .scroll-content,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .messages-chat .scroll-content {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row {
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 {
    width: 100% !important;
    flex-direction: column;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .blue-checkbox,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .blue-checkbox,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-settings-wrapper .seamen-hide-account .row .col-md-4 .blue-checkbox {
    margin-bottom: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td:nth-child(6),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td:nth-child(6),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td:nth-child(6) {
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th],
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th],
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] {
    padding: 10px 0;
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:before,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:before,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:before {
    display: block;
    margin-bottom: 4px;
    position: relative;
    width: auto;
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] div:not(.company-logo),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] div:not(.company-logo),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] div:not(.company-logo) {
    width: auto;
    margin: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] .company-logo,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] .company-logo,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th] .company-logo {
    position: relative;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5) {
    justify-content: center;
    padding-top: 20px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5):before,
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5):before,
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(5):before {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
  }
  [class*="body-seamen-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1),
  [class*="body-seaman-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1),
  [class*="body-crewing-"][class*="-wrapper"] .seamen-subscriptions .seamen-vacancies tr td[data-th]:nth-child(1) {
    display: block;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .row.no-margin,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .row.no-margin,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .row.no-margin {
    padding: 30px 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .mz-show .to-top-buynow .row {
    padding: 10px;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner {
    padding: 15px!important;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plans-duration {
    justify-content: space-between;
  }
  [class*="body-seamen-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plan-buy .btn-orange,
  [class*="body-seaman-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plan-buy .btn-orange,
  [class*="body-crewing-"][class*="-wrapper"] .mz-plans .fake-table.hidden .mz-plans-hidden .mz-plans-inner .mz-plan-buy .btn-orange {
    position: relative;
    bottom: unset;
    right: unset;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group {
    margin: 0 !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group [class*='col-md-'],
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group [class*='col-md-'],
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group [class*='col-md-'] {
    padding: 0;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2 {
    width: 50% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-2:first-child {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4 {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-4.auto-feed-details {
    width: 100% !important;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-3 {
    display: none;
  }
  [class*="body-seamen-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-seaman-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2,
  [class*="body-crewing-"][class*="-wrapper"] #sub-new-form .form-group .col-md-offset-2 {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 375px) {
  [class*="body-seamen-"][class*="-wrapper"] .messages-wrapper .table .bottom,
  [class*="body-seaman-"][class*="-wrapper"] .messages-wrapper .table .bottom,
  [class*="body-crewing-"][class*="-wrapper"] .messages-wrapper .table .bottom {
    width: 100% !important;
  }
}
