/* Seaman profile */
.flexed {
  display: flex;
}
#seamen-profile-banner {
  font-family: Roboto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  line-height: 1.2em;
  border-radius: 8px;
  color: #FFFFFF;
  position: relative;
}
#seamen-profile-banner.welcome-banner {
  background-image: url(../img/hands.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-color: #4BC65F;
  border-color: #F26202;
}
#seamen-profile-banner.welcome-banner i.icon-mz-font:first-child {
  display: none;
}
#seamen-profile-banner.welcome-banner .content {
  margin-left: 110px;
}
#seamen-profile-banner.notification-banner {
  background-color: #F26202;
  border-color: #F26202;
}
#seamen-profile-banner.notification-banner i.icon-mz-font:first-child {
  font-size: 65px;
  float: left;
  margin-left: 20px;
}
#seamen-profile-banner.notification-banner .content {
  margin-left: 25px;
}
#seamen-profile-banner .close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  font-weight: 100;
  opacity: 0.8;
}
#seamen-profile-banner p {
  width: 100%;
}
#seamen-profile-banner img {
  float: left;
  margin-right: 1em;
}
#seamen-profile-banner .content {
  width: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
#seamen-profile-banner .content h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
#seamen-profile-banner .details-btn {
  font-family: Roboto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  margin-right: 10px;
}
#seamen-service-banner {
  margin-bottom: 30px;
  background-color: #F26202;
  border-color: #F26202;
  padding: 18px 20px 18px 20px;
  line-height: 1.2em;
  border-radius: 8px;
  color: #FFFFFF;
  position: relative;
}
#seamen-service-banner i.icon-mz-font:first-child {
  font-size: 58px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}
#seamen-service-banner .content {
  width: 460px;
  font-size: 14px;
  float: left;
}
#seamen-service-banner .content h3 {
  font-size: 22px;
  color: #FFFFFF;
}
#seamen-service-banner .priceFrom {
  float: right;
  font-size: 32px;
  margin-right: 15px;
  padding-top: 22px;
}
#seamen-service-banner .details-btn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
#seamen-service-banner .close {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: .4;
}
#seamen-service-banner .close:hover,
#seamen-service-banner .close:focus {
  opacity: .7;
}
.profile-inner .col-md- {
  float: left;
}
.profile-inner .col-md-.seamen_job-col {
  width: 25%;
}
.profile-inner .col-md-.minimal_salary-col {
  width: 30%;
}
.profile-inner .requests-sent {
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.profile-inner .requests-sent span {
  color: #FA6414;
}
.profile-inner .requests-sent span i {
  margin-right: 5px;
}
.profile-inner .seamen-logo .image {
  height: auto;
  border: none;
}
.profile-inner .seamen-logo .title {
  text-align: center;
}
.profile-inner .seaman-stats {
  margin: 25px -15px;
}
.profile-inner .seaman-stats .white-box {
  padding: 0;
}
.profile-inner .seaman-stats .stats-head {
  padding: 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profile-inner .seaman-stats .stats-head .count {
  font-weight: 500;
  font-size: 90px;
  line-height: 105px;
  color: #0A2835;
}
.profile-inner .seaman-stats .stats-head .stats-info {
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  position: relative;
}
.profile-inner .seaman-stats .stats-head .stats-info strong {
  font-family: RobotoB;
  font-size: 18px;
  line-height: 21px;
  color: #0A2835;
  text-transform: uppercase;
}
.profile-inner .seaman-stats .stats-head .stats-info p {
  position: absolute;
  bottom: 18%;
  font-size: 12px;
  line-height: 14px;
}
.profile-inner .seaman-stats .stats-head .stats-info .new {
  display: inline-block;
  background-color: #fa6414;
  font-size: 12px;
  padding: 4px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  position: absolute;
  margin-top: -1px;
  margin-left: 7px;
  right: -70%;
}
.profile-inner .seaman-stats .stats-body {
  min-height: 85px;
  padding: 20px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profile-inner .seaman-stats .stats-body strong {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0A2835;
  margin-bottom: 5px;
  display: block;
}
.profile-inner .seaman-stats .stats-footer {
  padding: 20px 25px;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.profile-inner .seaman-stats .stats-footer i {
  font-size: 20px !important;
}
.profile-inner .seaman-stats .stats-footer a {
  font-size: 14px;
  margin-left: auto;
}
.profile-inner .seaman-stats .stats-footer a i {
  font-size: 14px;
}
.profile-inner .seaman-stats .stats-footer a.settings {
  margin-left: 0;
  color: #787878;
}
.profile-inner .select2-container--default .select2-selection--single {
  border: none;
}
.profile-inner .progress-block {
  margin-top: 15px;
  padding: 30px 30px 17px;
}
.profile-inner .progress-block [class*='col-md-'] {
  padding-right: 30px;
}
.profile-inner .progress-block p {
  font-size: 18px;
  font-family: RobotoB;
  color: #0a2835;
  line-height: 22px;
}
.profile-inner .progress-block p.red-text {
  color: #ff4042;
}
.profile-inner .progress-block p.progress-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #74858A;
  margin-bottom: 10px;
  width: 80%;
}
.profile-inner .progress-block .progress-improve {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4B9AC6;
  cursor: pointer;
}
.profile-inner .progress-block .progress {
  margin-top: 18px;
}
.profile-inner .progress-block .progress-notes {
  padding-top: 4px;
}
.profile-inner .progress-block .progress-notes ul#hidden-notes {
  display: none;
}
.profile-inner .progress-block .progress-notes ul li {
  color: #4B9AC6;
  font-size: 14px;
  position: relative;
  margin-bottom: 6px;
  padding-left: 18px;
}
.profile-inner .progress-block .progress-notes ul li a,
.profile-inner .progress-block .progress-notes ul li span {
  color: #4B9AC6;
  display: inline-block;
}
.profile-inner .progress-block .progress-notes ul li a strong,
.profile-inner .progress-block .progress-notes ul li span strong {
  color: red;
}
.profile-inner .progress-block .progress-notes ul li a:hover {
  text-decoration: underline;
}
.profile-inner .progress-block .progress-notes ul li:before {
  font-family: 'MZicons';
  content: '\e907';
  font-size: 1em;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}
.profile-inner .progress-block .progress-notes ul li .percent {
  color: #FA6414;
}
.profile-inner .progress-block .progress-notes .view-more-notes {
  margin-left: 18px;
  font-size: 14px;
  color: #52c2df;
  margin-top: 0;
  text-align: left;
  font-family: Roboto;
}
.profile-inner .progress-block .progress-notes .view-more-notes span {
  display: flex;
  align-items: center;
}
.profile-inner .progress-block .progress-notes .view-more-notes strong {
  font-family: RobotoB;
}
.profile-inner .progress-block .progress-notes .view-more-notes i.fa {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
}
/*tooltips*/
.profile-inner .tooltip-inner {
  background-color: #fff !important;
  width: auto!important;
  color: #1E3C49;
  height: 100%!important;
  padding: 15px;
  font-size: 15px!important;
  font-family: Roboto;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  text-align: left;
}
.profile-inner .tooltip {
  font-size: 14px;
  opacity: 1;
  font-family: Roboto;
}
.profile-inner .tooltip .tooltip-arrow {
  border-top-color: #fff !important;
}
.profile-inner .tooltip.bottom {
  display: none;
}
.profile-inner .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff !important;
}
.profile-inner .tooltip.right .tooltip-arrow {
  border-top-color: transparent!important;
  border-right-color: #fff !important;
}
.field-seamen_status_field .select2 {
  width: 100% !important;
}
.status-dropdown {
  border-radius: 5px !important;
  overflow: hidden;
}
.status-dropdown.select2-dropdown--below {
  border-top: 1px solid #aaa !important;
}
.status-dropdown li.select2-results__option[aria-selected="true"] {
  color: #1E3C49 !important;
  font-family: Roboto, FontAwesome;
  position: relative;
  z-index: 0;
}
.status-dropdown li.select2-results__option[aria-selected="true"]:before {
  content: "\f00c";
  position: absolute;
  z-index: 1000;
  left: 8px;
  top: 9px;
  font-size: 8px !important;
  color: #fff !important;
}
.status-empty {
  color: rgba(116, 133, 138, 0.5);
}
.status-orange {
  color: #FA9E14;
}
.status-blue {
  color: #52C2DF;
}
.status-green {
  color: #4BC65F;
}
.status-grey {
  color: #74858A;
}
.no-search {
  outline: none;
}
.no-search .select2-selection__rendered {
  display: flex !important;
  align-items: center;
  border-radius: 5px !important;
}
.no-search .select2-selection__rendered span {
  margin-left: 5px;
}
/* Modal banner */
#seamen-profile-banner-as-modal.welcome-banner .modal-content {
  background: #4BC65F;
  color: #fff;
}
#seamen-profile-banner-as-modal.welcome-banner .modal-header {
  border: none;
  background-image: url(../img/hands.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
#seamen-profile-banner-as-modal.welcome-banner .modal-header .modal-title {
  margin-left: 105px;
  margin-right: 20px;
  min-height: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}
#seamen-profile-banner-as-modal.welcome-banner i.icon-mz-font:first-child {
  display: none;
}
#seamen-profile-banner-as-modal.notification-banner .modal-content {
  background: #F26202;
  color: #fff;
}
#seamen-profile-banner-as-modal.notification-banner .modal-header {
  border: none;
}
#seamen-profile-banner-as-modal.notification-banner .modal-header .modal-title {
  margin-left: 60px;
  margin-right: 20px;
  min-height: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}
#seamen-profile-banner-as-modal.notification-banner i.icon-mz-font:first-child {
  font-size: 50px;
  float: left;
  margin-left: 0px;
}
#seamen-profile-banner-as-modal .modal-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
#seamen-profile-banner-as-modal .modal-footer {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seamen-profile-banner-as-modal .modal-footer .dark-btn {
  width: 150px;
  padding: 12px 5px;
  text-align: center;
  margin-top: 10px;
}
#seamen-service-banner-as-modal .modal-content {
  background-color: #F26202;
  border-color: #F26202;
  color: #fff;
}
#seamen-service-banner-as-modal .modal-header {
  border: none;
}
#seamen-service-banner-as-modal .modal-header i.icon-mz-font {
  font-size: 58px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}
#seamen-service-banner-as-modal .modal-header .modal-title {
  margin-left: 100px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}
#seamen-service-banner-as-modal .modal-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
#seamen-service-banner-as-modal .modal-footer {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seamen-service-banner-as-modal .modal-footer .dark-btn {
  width: 150px;
  padding: 12px 5px;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 1400px) {
  #seamen-profile-banner.welcome-banner p,
  #seamen-profile-banner.welcome-banner h3 {
    width: 95%;
  }
  .profile-inner .seamen-last-contract-block .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-inner .seamen-last-contract-block .row .contract {
    width: auto;
  }
  .profile-inner .seamen-last-contract-block .row .contract .contract-title {
    text-align: left;
    width: auto;
  }
  .profile-inner .seamen-last-contract-block .row .title {
    margin-right: auto;
  }
  .profile-inner .seamen-last-contract-block .row .control-buttons {
    display: flex;
    align-items: center;
    width: auto;
  }
}
@media (max-width: 1200px) {
  .profile-inner .seaman-stats .col-xs-12 {
    margin-bottom: 15px;
  }
}
@media (max-width: 1024px) {
  #seamen-profile-banner p {
    max-width: 670px;
  }
}
@media (max-width: 992px) {
  #seamen-profile-banner {
    flex-direction: column;
    text-align: center;
    background-position: 10px 50%;
  }
  #seamen-profile-banner.notification-banner {
    /*flex-direction: unset;
            text-align: left;*/
  }
  #seamen-profile-banner.notification-banner i.icon-mz-font:first-child {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #seamen-profile-banner p {
    width: 100%;
  }
  #seamen-profile-banner .details-btn {
    margin: 0 auto;
    margin-top: 15px;
  }
  .profiles-menu {
    display: none;
  }
  .profile-inner .seaman-main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile-inner .seaman-main-info .col-md-3 {
    width: 30% !important;
  }
  .profile-inner .seaman-main-info .col-md-9 {
    width: 70% !important;
  }
  .profile-inner .seaman-main-info .col-md-9.pull-right {
    width: 100% !important;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md- {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md-.seamen_status_field-col {
    width: 63%;
    padding-right: 0;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md-.seamen_status_date_to-col {
    width: 35%;
    float: right;
    padding-left: 0;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md-.seamen_status_date_to-col .date {
    width: 100%;
  }
  .profile-inner .seaman-main-info .seamen-logo {
    margin-bottom: 15px;
  }
  .profile-inner .seaman-main-info .seamen-logo .image a {
    width: 100%;
  }
  .profile-inner .seaman-main-info .seamen-logo .title {
    text-align: center;
    min-height: auto;
  }
  .profile-inner .seamen-last-contract-block .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile-inner .seamen-last-contract-block .row .blue-btn {
    margin-top: 0;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.contract {
    display: flex;
    margin: 0 0 auto 0;
    text-align: left;
    flex-direction: row;
    align-items: flex-start;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.contract .contract-title {
    width: auto;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.control-buttons {
    justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .profile-inner .seamen-logo .title {
    padding: 18px 10px;
  }
  .profile-inner .seaman-main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile-inner .seaman-main-info .col-md-9.pull-right {
    width: 100% !important;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md- {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md-.seamen_status_field-col {
    width: 63%;
    padding-right: 0;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md-.seamen_status_date_to-col {
    width: 35%;
    float: right;
    padding-left: 0;
  }
  .profile-inner .seaman-main-info .seamen-info-form .col-md-.seamen_status_date_to-col .date {
    width: 100%;
  }
  .profile-inner .progress-block [class*="col-md-"] {
    padding-right: 15px;
  }
  .profile-inner .progress-block [class*="col-md-"] p.progress-info {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #seamen-profile-banner,
  #seamen-service-banner {
    display: none;
  }
  .profile-inner .seaman-main-info .col-md-3,
  .profile-inner .seaman-main-info .col-md-9 {
    width: 100% !important;
  }
  .profile-inner .seaman-main-info .seamen-logo .image a {
    width: 197px;
  }
  .profile-inner .progress-block [class*="col-md-"] {
    width: 100% !important;
    padding-right: 15px;
  }
  .profile-inner .progress-block [class*="col-md-"] .progress-notes {
    margin-top: 20px;
  }
  .profile-inner .seamen-last-contract-block .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-inner .seamen-last-contract-block .row .blue-btn {
    margin-top: 0;
  }
  .profile-inner .seamen-last-contract-block .row .col-md- {
    width: 100%;
    text-align: center;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.contract {
    display: flex;
    margin: 0 0 auto 0;
    text-align: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.contract .contract-title {
    width: auto;
    margin-top: 15px;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.contract .contract-info {
    padding: 0;
  }
  .profile-inner .seamen-last-contract-block .row .col-md-.control-buttons {
    justify-content: center;
    margin-top: 15px;
  }
}
@media (max-width: 475px) {
  .profile-inner .seaman-main-info .seamen-logo {
    display: flex;
    align-items: center;
  }
  .profile-inner .seaman-main-info .seamen-logo .image a {
    width: 100%;
  }
  .profile-inner .contract {
    flex-direction: column;
    align-items: center;
  }
  .profile-inner .white-box:not(.seamen-logo):not(.stats-block) {
    padding: 25px 20px;
  }
  .seamen-last-contract-block .control-buttons {
    display: flex;
    flex-direction: column;
  }
  .seamen-last-contract-block .control-buttons .btn {
    margin-left: 0 !important;
    margin-top: 10px !important;
  }
  #mzModal-banner .modal-header .modal-title {
    width: 40%;
  }
}
@media (max-width: 420px) {
  .profile-inner .requests-sent {
    padding: 0 20px;
  }
  .profile-inner .seamen-pagination .dark-btn {
    min-width: 165px;
    padding: 12px 5px;
  }
  .profile-inner .seamen-logo {
    padding: 0;
  }
}
@media (max-width: 360px) {
  .profile-inner .seamen_status_field-col,
  .profile-inner .seamen_status_date_to-col {
    width: 100% !important;
    padding: 0 15px !important;
  }
  .seamen-pagination {
    flex-direction: column;
    display: flex;
  }
  .seamen-pagination .dark-btn {
    margin-top: 10px;
  }
}
