.vacancy-index-wrapper,
.vacancy-view-wrapper {
    /* Slider */

    .single-slider {
        margin-bottom: 20px;
        .slider-for {
            margin: 20px 5px 8px 0;
            overflow: hidden;
            img {
                width: 100%;
                min-height: 100%;
            }
        }

        .slider-nav {
            margin: auto;
            img {
                width: 100%;
                min-height: 100%;
            }

            .slick-slide {
                height: auto;
                margin-right: 10px;
                height: 46px;
                overflow: hidden;
            }
        }
        .slider-nav .slick-track {
            height: auto;
        }
        .slick-list {
            padding: 0 !important;
        }
        .slick-arrow {
            position: absolute;
            top: 50% !important;
            z-index: 50;
        }
        .slick-prev {
            left: 7px !important;
            &:before {
                font-family: FontAwesome;
                content: "\f104";
                opacity: 1;
            }
        }
        .slick-next {
            right: 12px !important;
            &:before {
                font-family: FontAwesome;
                content: "\f105";
                opacity: 1;
            }
        }
    }

    @media (max-width: 1199px) {
        .single-slider {
            .slider-for {
                margin-right: 10px;
            }
            .slider-nav {
                .slick-slide {
                    height: 72px;
                }
            }
            .slick-track {
                .slick-slide {
                    div {
                        height: 100%;
                    }
                }

            }
        }
    }

    @media (max-width: 768px) {
        .single-slider {
            .slider-for {
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 500px) {
        .single-slider {
            .slider-for {
                margin-right: 3px;
            }
            .slider-nav {
                .slick-slide {
                    margin-right: 5px;
                    height: 46px !important;
                    div {
                        height: 100%;
                    }
                }
            }

        }
    }

    /*Social styles (already exist on site, just not in this file) */
    .jssocials-share-link {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        line-height: 1;
        padding: .5em .6em;
        color: #fff;
        -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
        transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
        background: #777;
    }

    .jssocials-share-logo {
        width: 1em;
        vertical-align: middle;
        font-size: 1em;
    }
    .jssocials-shares {
        margin: .2em 0;
    }
    .jssocials-share {
        display: inline-block;
        vertical-align: top;
        margin: .3em .6em .3em 0;
    }

    /* Company Page */
    .btn-grey {
        background: #777;
        color: #fff;
        font-weight: 900;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        transition: ease 0.3s;
        display: block;
        text-align: center;
        cursor: pointer;
        max-width: 210px;
        &:hover {
            background: darken(#777, 15%);
            color: #fff;
        }
    }

    .grey-box {
        display: flex;
        align-items: center;
        background: rgba(196, 196, 196, 0.2);
        padding: 1em;
        border-radius: 5px;
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
        strong {
            display: block;
            color: #1E3C49;
            font-weight: 900;
            font-size: 18px;
            margin-bottom: 5px;
            &.orange {
                color: #FA6414;
            }
        }
    }

    .footer-btns {
        margin-top: 2em;
        a.btn {
            &:last-of-type {
                margin-left: 2em;
            }
        }
    }

    .flexed {
        display: flex;
        &.row {
            flex-wrap: wrap;
            h2 {
                padding: 0 !important;
            }
            .single-cards {
                margin: 30px 15px;
                a {
                    font-weight: 500;
                }
                p.flexed {
                    .pull-right {
                        margin-left: auto;
                    }
                }
                .white-box {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .premium-box {
        border: 2px solid #FAD514;
    }

    ul.breadcrumb {
        li.goBack {
            &:before {
                display: none;
            }
        }
    }

    .single-reviews {
        a {
            font-weight: 500;
        }
    }

    .single-buttons {
        a {
            font-weight: 500;
        }

        span {
            &:not(.hidden-xs) {
                margin-top: ;
                color: rgba(116, 133, 138, 0.5);
            }
            &.green-text {
                color: #4BC65F;
            }
        }

        .tooltip-inner {
            background-color: #fff !important;
            width: auto !important;
            color: #1E3C49;
            height: 100% !important;
            padding: 15px;
            font-size: 15px !important;
            font-family: Roboto;
            box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
            border-radius: 10px;
            text-align: left;
        }
        .tooltip {
            font-size: 14px;
            opacity: 1;
            font-family: Roboto;

            .tooltip-arrow {
                border-top-color: #fff !important;
            }
        }
        .tooltip.bottom {
            .tooltip-arrow {
                border-bottom-color: #fff !important;
            }
            display: none;
        }
        .tooltip.right {
            .tooltip-arrow {
                border-top-color: transparent !important;
                border-right-color: #fff !important;
            }
        }
    }

    .link-thin {
        font-size: 14px;
        line-height: 112%;
        font-weight: normal !important;
        color: #52C2DF;
        display: block;
        margin-top: 10px;
    }

    span.semi-title {
        display: block;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #1E3C49;
        margin-bottom: 10px;
    }
    .allVacancies {
        font-size: 16px;
        display: block;
        width: auto;
        margin-top: 5px;
        font-weight: 500;
        font-family: Roboto;
        i {
            vertical-align: top;
        }
    }
    button.btn-right {
        margin-left: 15px;
        width: 47.5%;
    }
    .single-list {
        font-weight: 500;
        li.row {
            margin-bottom: 10px;
            min-width:120px;
            &.mt {
                margin-top: 2em;
            }
            .pull-right {
                font-size: 16px;
                color: #1E3C49;
                font-family: RobotoM;
                p {
                    color: #74858A;
                }
                span {
                    display: inline-block;
                    margin-right: 5px;
                    i.flag-bg {
                        margin-left: -4px;
                        margin-right: -4px;
                    }
                }
            }
        }
    }

    .single-map {
        margin: 1em 0;
    }

    .single-title {
        margin-bottom: 10px;
        a {
            font-size: 20px;
            line-height: 23px;
            color: #52C2DF;
            font-weight: 900;
        }
        span.pull-right {
            color: rgba(116, 133, 138, 0.5);
        }
    }

    .no-padding {
        padding: 0 !important;
    }

    .aside {
        width: 30% !important;
        font-family: Roboto;
        font-style: normal;
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .company-links {
            .single-list {
                .pull-left {
                    font-size: 16px !important;
                }
                strong {
                    color: #74858A !important;
                }
            }
        }
        .company-reviews {
            .single-review {
                p.review-text {
                    color: #1E3C49;
                    margin: 10px 0;
                }
                .review-rating {
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        hr {
            margin: 20px 0;
            background: #C4C4C4;
            opacity: 0.5;
        }
        .single-list {
            li.row {
                margin-bottom: 10px;
                .pull-right {
                    font-size: 16px;
                    color: #1E3C49;
                }
                .pull-left {
                    font-size: 14px;
                }
            }
        }
    }

    .single-status {
        display: flex;
        align-items: center;
        justify-content: flex-end; /* space-between; */
        span {
            font-size: 15px;
            color: rgba(116, 133, 138, 0.5);
        }
        .premium {
            padding: 5px 8px;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 18px;
            color: #fff;
            background: #FABA14;
            border-radius: 58px;
            margin-left: 7px;
            &.new {
                background: #FA6414;
            }
        }
    }
    .company-rating {
        span {
            font-size: 18px;
            &.checked {
                color: #FA6414;
            }
        }
        a {
            display: block;
            margin-top: 5px;
        }
    }

    .single-left {
        width: 70% !important;
        font-family: Roboto;
        font-style: normal;

        .breadcrumb {
            margin-bottom: 20px;
        }

        .back-link {
            position: absolute;
            top: 3px;
            right: 2%;
        }

        .col-md-9 {
            h2 {
                font-weight: 900;
                font-size: 28px;
                line-height: 33px;
                color: #1E3C49;
                text-align: left;
                padding: 0;
                margin-bottom: 1em;
            }
            hr {
                margin: 20px 0;
                background: #C4C4C4;
                opacity: 0.5;
            }
            .single-info {
                margin: 1em 0;
                span {
                    font-weight: 500;
                }
                p {
                    font-size: 16px;
                    line-height: 19px;
                    color: #1E3C49;
                    margin-top: 10px;
                }
            }
            .single-views {
                margin-top: 20px;
                font-size: 15px;
                font-weight: 500;
                line-height: 18px;
                color: rgba(116, 133, 138, 0.5);
                .col-xs-6 {
                    padding: 0 !important;
                }
            }
        }
        .col-md-3.pull-right {
            padding: 0 10px 0 0 !important;

            .single-logo {
                margin-top: 1em;
            }
        }

    }

    /* Modal Откликлнуться на вакансию */

    #mz-modal {
        label {
            font-size: 14px;
            line-height: 16px;
            color: #74858A;
            margin-bottom: 5px;
        }
        .form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
        .form-control {
            border: 1px solid #c8c8c8;
            &.pull-left {
                width: 80%;
                background: #fff;
            }
            &.pull-right {
                width: 19%;
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .modal-header {
            border: none;
        }
        .modal-footer {
            text-align: center;
            border: none;
        }
        .custom-checkbox {
            width: 17px;
            height: 17px;
            background: url(../img/checkbox-icon-min.png) left top no-repeat;
            top: 0;
            background-position: 0;
            margin-right: 5px;
            &.checked {
                background-position: -17px 0;
            }
        }
    }

    /*  New Vacancy Page  */

    h3.title {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        text-transform: uppercase;
        color: #1E3C49;
        margin-bottom: 10px;
    }

    .row.mt {
        margin-top: 2em;
    }

    .new-tips {
        padding-top: 45px;
        i.fa {
            display: block;
            font-size: 36px;
            margin-bottom: 15px;
        }
        p {
            max-width: 260px;
            font-size: 20px;
            line-height: 23px;
        }
    }

    .new-form {

        margin-bottom: 50px;

        /* Tooltips */

        .tooltip-inner {
            background-color: #FFF !important;
            width: auto !important;
            color: #1E3C49 !important;
            height: 100% !important;
            padding: 15px;
            font-size: 16px !important;
            font-family: Roboto;
            box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
            border-radius: 10px;
            text-align: left !important;
        }
        .tooltip {
            font-size: 14px;
            opacity: 1;
            font-family: Roboto;

            .tooltip-arrow {
                border-top-color: #fff !important;
            }
        }
        .tooltip.bottom {
            .tooltip-arrow {
                border-bottom-color: #fff !important;
            }
            display: none;
        }
        .tooltip.right {
            .tooltip-arrow {
                border-top-color: transparent !important;
                border-right-color: #fff !important;
            }
        }

        /* Tooltips */

        select#seamen_status_field {
            font-family: FontAwesome;

        }
        .semi-title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 0;
        }
        .form-group {
            label.pull-left, .form-text {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #1E3C49;
            }
            &.required {
                label {
                    span {
                        color: #FA6414;
                    }
                }
            }
        }
        hr.row {
            margin: 2em -15px;
        }
    }

    .form-head.row {
        align-items: center;
        flex-wrap: wrap;
        a {
            margin-right: 10px;
        }
    }
    .grey {
        color: #74858A;
        &.small {
            font-size: 13px;
            line-height: 15px;
        }
    }
    .aligned {
        align-self: center;
    }
    .btn-uppercase {
        text-transform: uppercase;
        font-weight: bold !important;
        font-size: 16px !important;
        line-height: 19px !important;
    }
    .form-head.row, .form-group.row {
        display: flex;
        margin: 0 0 1em 0 !important;
        .pull-left {
            width: 30%;
        }
        i {
            align-self: center;
        }
        .inputs-row {
            align-items: center;
            flex-wrap: wrap;
            width: 69%;
            .form-control {
                margin-left: 7px;
                &.small {
                    margin: 0;
                }
            }
            .flexed {
                align-items: center;
                margin-top: 10px;
            }
        }

        .form-control {
            width: auto;
            border: 1px solid #C8C8C8;
            margin-right: 7px;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #74858A;
            &.full {
                width: 68%;
            }
            &.default {
                min-width: 360px;
            }
            &.medium {
                min-width: 100px;
                max-width: 140px;
            }
            &.small {
                width: 55px;
            }
            &.form-photo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: auto;
                padding: 30px 0;
                i {
                    font-size: 36px;
                    margin-bottom: 10px;
                    color: #52C2DF;
                }
            }
        }
        .custom-checkbox {
            width: 17px;
            height: 17px;
            background: url(../img/checkbox-icon-min.png) left top no-repeat;
            top: 0;
            background-position: 0;
            margin: 0 7px;
            &.noml {
                margin-left: 0;
            }
            &.checked {
                background-position: -17px 0;
            }
        }
    }

    /* Searches */
    .search-results {
        .semi-title {
            font-size: 28px !important;
            margin-bottom: 20px;
        }
        .jobs-total-count {
            margin-bottom: 0;
            font-size: 24px;
            color: #152234;
            font-family: 'RobotoM', sans-serif;
            text-transform: uppercase;
            @media (max-width: 1024px) {
                padding-top: 10px;
                font-size: 24px;
            }
        }
    }

    .search-card {
        margin-bottom: 20px;
        position: relative;
        font-weight: 500;
        [class^='col-'], [class*='col-'] {
            padding: 0 !important;
        }
        a.card-title {
            font-weight: 900;
            font-size: 28px;
            line-height: 33px;
            display: block;
            margin-bottom: 10px;
        }
        .countdown {
            color: #FA6414;
        }
        img {
            width: 152px;
            height: 152px;
        }
        .single-status {
            position: absolute;
            right: 4%;
            top: 10%;
            span {
                margin-left: 5px;
            }
        }
        ul {
            margin-bottom: 5px;
            li {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .pull-left {
                    width: 40%;
                    font-weight: 500;
                }
                strong {
                    vertical-align: super;
                    font-family: RobotoM;
                    font-size: 17px;
                    color: #1E3C49;
                }
            }
        }
        &.search-card-vacancy {
            height: 245px;
            img {
                height: 124px;
                width: 124px;
                margin-top: -20px;
            }
            flex-wrap: wrap;
            .col-md-12 {
                span {
                    &:not(.hidden-xs) {
                        margin-left: 20px;
                        color: rgba(116, 133, 138, 0.5);
                    }
                    &.green-text {
                        color: #4BC65F;
                    }
                }
            }

            .flag-bg {
                margin: -7px 0 0 7px;
                outline: 1px solid #e6e6e6;
                display: inline-block;
                position: relative;
                top: 4px;
                -webkit-transform: scale(0.7);
                -moz-transform: scale(0.7);
                -ms-transform: scale(0.7);
                -o-transform: scale(0.7);
                transform: scale(0.7);
            }
        }
        &.search-card-company {
            height: 207px;
            .company-rating {
                position: absolute;
                bottom: 15%;
                right: 4%;
                .grey {
                    margin-left: 10px;
                }
            }
        }
    }

    .sorting {
        #sort.form-control {
            background: transparent url(../img/select-arrow-40x40.png) right center no-repeat;
            padding-right: 30px;
            width: auto;
            margin-left: auto;
            margin-bottom: 10px;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .search-views {
        margin-top: 5em;
        font-weight: 500;
        color: #1E3C49;
        span {
            font-size: 18px;
            display: block;
            width: 70%;
            margin-bottom: 10px;
        }
        strong {
            font-size: 28px;
        }
    }

    .container .row {
        .single-cards {
            margin: 30px 15px;
        }
        .single-hot {
            .empty {
                font-family: RobotoB, sans-serif;
                padding: 20px 0;
            }
        }
    }

    .container.search {
        padding-top: 40px;
        margin-bottom: 40px;
        .column {
            justify-content: space-between;
        }
        .h1 {
            margin: 0;
            padding: 0;
        }
        .breadcrumb {
            margin-bottom: 10px;
        }
        .search-body {
            margin-top: 20px;
            .semi-title {
                font-size: 18px;
            }
            .search-list {
                &.list-hidden {
                    display: none;
                }
                &.list-inner {
                    margin-left: 15px;
                    li {
                        &.active {
                            a, span {
                                color: #1E3C49;
                            }
                        }
                        &:last-child {
                            margin-bottom: 20px;
                        }
                    }
                }
                li {
                    margin-top: 10px;
                    font-weight: 500;
                }
            }
        }
    }

    // Filter block

    .search-options {
        .search-sidebar-wrapper {
            .submit-buttons {
                display: flex;
                align-items: center;
                button, a {
                    //width: auto;
                }

                a.search {
                    width: 55%;
                }
            }

            .checkbox-with-label {
                margin-top: 5px;
                cursor: pointer;
            }

            .custom-checkbox {
                width: 17px;
                height: 17px;
                background: url(../img/checkbox-icon-min.png) left top no-repeat;
                top: 3px;
                background-position: 0;
                margin-right: 5px;
                &.box-checked {
                    background-position: -17px 0;
                }
            }

            .select2-container {
                &.select2-container--open.select2-container--below {
                    .select2-selection--multiple {
                        .select2-selection__rendered {
                            border-radius: 2px 2px 0 0 !important;
                        }
                    }
                }

                &.select2-container--open.select2-container--above {
                    .select2-selection--multiple {
                        .select2-selection__rendered {
                            border-radius: 0 0 2px 2px !important;
                        }
                    }
                }

                .select2-selection__rendered {
                    // -webkit-background-size: auto 40px;
                    // background-size: auto 40px;
                    // padding: 4px 14px;
                    // -webkit-border-radius: 5px;
                    // -moz-border-radius: 5px;
                    // color: #5a5a5a;
                    // min-height: 38px;
                }

                .select2-selection--multiple {
                    height: auto;

                    .select2-selection__rendered {
                        height: auto;
                        background: transparent url(../img/select-arrow-40x40.png) right center no-repeat;
                        border: 1px solid #c8c8c8;
                        border-radius: 2px;
                        padding-right: 7%;
                        padding-bottom: 7px;
                    }

                    .select2-results__options {
                        li {
                            padding: 7px 14px 8px;
                        }
                    }

                    .clear-btn {
                        display: none;
                    }

                    .select2-selection__choice {
                        background: #FA6414;
                        color: #fff;
                        border: none;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        .select2-selection__choice__remove {
                            float: right;
                            color: #fff;
                            border-left: 1px solid #fff;
                            padding: 4px 4px 4px 10px;
                            order: 2;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .form-control {
                border: 1px solid #CCCCCC;
                border-radius: 2px;
                color: #787878;
                font-size: 16px;

                &:focus {
                    outline: none !important;
                    outline-width: 0;
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                }

                &::-webkit-input-placeholder { color: #787878; font-size: 16px; }
                &::-moz-placeholder { color: #787878; font-size: 16px; }
                &:-ms-input-placeholder { color: #787878; font-size: 16px; }
                &:-moz-placeholder { color: #787878; font-size: 16px; }
            }

            .input-group {
                margin: 7px 0;

                .input-group-addon {
                    color: #ccc !important;
                    font-size: 16px;
                    padding: 6px 8px;
                    border-color: #CCCCCC;
                    border-bottom-left-radius: 2px;
                    border-top-left-radius: 2px;
                    background-color: transparent;
                }

                .input-group-addon.kv-date-calendar {
                    padding-top: 12px;
                }

                .form-control {
                    //&:first-child {
                    //    border-right: none;
                    //    border-bottom-right-radius: 0;
                    //    border-top-right-radius: 0;
                    //}

                    &:last-child {
                        padding-left: 1px;
                        border-left: none;

                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                    }
                }
            }
            .filter-search {
                background: #FFFFFF;
                margin: 10px 0;
                border: 1px solid #CCCCCC;
                box-sizing: border-box;
                border-radius: 2px;
                display: flex;
                align-items: center;
                height: 36px;
                .btn-search {
                    margin: 0;
                    padding: 0;
                    color: #ccc;
                    font-size: 16px;
                    width: 10%;
                    background-color: transparent;
                }
                .search-control {
                    border: none;
                    width: 90%;
                    height: 100%;
                    outline: none;
                    background-color: transparent;
                }
            }

            //
        }
    }

    @media (max-width: 1199px) {
        .single-status {
            justify-content: space-between;
        }

        .aside {
            margin-top: 0;
            padding: 0 30px !important;
            &.vacancy-aside {
                order: 3;
                margin-bottom: 30px;
            }
            &.company-aside {
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                .jssocials {
                    order: 1;
                }
                .company-reviews {
                    order: 2;
                    i.hidden {
                        display: inline-block !important;
                    }
                    .hidden {
                        display: block !important;
                    }
                    .single-reviews {
                        display: none;
                    }
                }
                .company-links {
                    order: 3;
                }
            }
            .hidden-sm {
                display: none !important;
            }
        }

        .single-cards {
            margin: 30px 0 !important;
            padding: inherit;

            .company-vacancies {
                padding: 0 15px;
            }
        }

        button.btn-right {
            width: auto;
        }

        .single-left {
            .hidden-md {
                display: block !important;
                &.single-status {
                    display: flex !important;
                }
                &.flexed {
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 !important;
                }
            }
            .hidden-sm {
                display: none !important;
            }
        }

        .jssocials.hidden-md {
            display: block !important;
            margin-top: 15px;
            padding: 0 30px !important;
        }

        .search {
            .search-results {
                order: 3;
                .semi-title {
                    margin-top: 20px;
                }
            }
        }

        .new-tips, .search-views {
            display: none;
        }

        .search-body {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .sorting {
                order: 2;
            }

        }
    }
    @media (max-width: 767px) {
        .single-status.hidden-md {
            .single-logo {
                max-width: 40%;
            }
        }

        button.btn-right {
            margin-left: 0;
        }

        .grey-box {
            flex-direction: column;
            [class^='col-'], [class*='col-'] {
                text-align: center;
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
            .btn-grey {
                margin: 0 auto;
            }
        }

        .single-list {
            &.single-list-c {
                li.row {
                    .pull-left {
                        width: 75% !important;
                        padding-right: 0 !important;
                    }
                    .pull-right {
                        width: 25% !important;
                        margin: 0 !important;
                    }
                    a {
                        display: inline-block;
                    }
                }
            }
            li.row {
                .pull-left, .pull-right {
                    width: 100% !important;
                    &.pull-right {
                        margin-top: 5px;
                    }
                }
            }
        }

        .single-left {
            padding-top: 10px;
            .breadcrumb {
                li {
                    &:not(.goBack) {
                        display: none;
                    }
                }
            }

        }

        .back-link {
            left: 17px;
        }

        .search, .single-cards {
            .search-card {
                flex-direction: column;
                height: auto !important;
                [class^='col-'], [class*='col-'] {
                    width: 100% !important;
                    span.pull-left {
                        width: 50% !important;
                    }
                }
                &.search-card-company {
                    .company-rating {
                        bottom: 4%;
                        right: 2%;
                    }
                    .single-status {
                        right: 2%;
                    }
                }
                &.search-card-vacancy {
                    .col-md-9 {
                        order: 2;
                        ul.column {
                            li {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                span {
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                    .col-md-3 {
                        order: 1;
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        img {
                            margin: 0;
                        }
                    }
                    .col-md-12 {
                        order: 3;
                        .views {
                            float: right;
                        }
                        &.card-head {
                            order: 0;
                        }
                    }
                }
                .single-status {
                    top: 5%;
                    display: flex;
                    flex-direction: column;
                    span:not(.premium) {
                        order: 3;
                        align-self: flex-end;
                        margin-top: 10px;
                    }
                }
            }
        }

        .new-form {
            .form-group.row, .form-head {
                flex-direction: column;
                .pull-left {
                    margin-bottom: 10px;
                    width: 100%;
                }
                .inputs-row, .form-control.full {
                    width: 100%;
                }
                .form-control.default {
                    min-width: unset;
                    padding-right: 30px;
                }
            }
        }
    }

    @media (max-width: 550px) {
        .dashboard-container, .search.container {
            padding: 0 5px !important;
            .white-box {
                padding: 15px;
                .ago {
                    width: auto !important;
                    position: absolute !important;
                    right: 0;
                }
            }
            .single-status {
                padding: 0 !important;
                justify-content: space-between;
                .new {
                    margin-left: 200px;
                }
            }
            .single-views {
                [class^='col-'], [class*='col-'] {
                    padding: 0 !important;
                }
                .pull-right {
                    text-align: right;
                }
            }
            .card-title {
                .single-title {
                    .single-status {
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        span {
                            &:not(.premium) {
                                width: 100%;
                                order: 3;
                                text-align: right;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            .card-body {
                width: 100%;
                .pull-right {
                    &.col-md-3 {
                        padding: 0 !important;
                    }
                    img {
                        max-width: 35%;
                    }
                }
            }
        }

        .search {
            .search-card-company {
                padding: 20px 0;
                ul.column {
                    li {
                        flex-direction: column;
                        align-items: flex-start;
                        span.pull-left {
                            width: auto !important;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .inputs-row {
            .form-control {
                margin: 2px 0;
            }
            input[type="number"] {
                max-width: 100px !important;
            }
        }

        .column-xs {
            flex-direction: column;
            select {
                margin-bottom: 10px;
            }
            .aligned {
                align-self: flex-start;
            }
        }
    }

    @media (max-width: 375px) {
        .dashboard-container {
            padding: 0 !important;
            ul.breadcrumb {
                padding: 0 15px;
            }
            .single-cards {
                .semi-title {
                    padding: 0 15px;
                }

            }
        }

        span.green-text {
            display: block;
            margin-left: 0 !important;
            width: 70%;
            float: left;
            text-align: left;
        }

        .new-form, .new-title {
            padding: 0 30px !important;
        }

        .single-left {
            .flexed.hidden-md {
                .single-logo, .single-status {
                    width: 50%;
                    .company-rating {
                        margin-left: auto;
                    }
                }
            }
        }

        .search-results {
            .search-card-company {
                .company-rating {
                    .grey {
                        display: none;
                    }
                }
                .col-md-3 {
                    text-align: center;
                }
            }
        }

        #mz-modal {
            .modal-footer {
                .btn {
                    width: 100%;
                }
            }
        }
    }

    .flag-sm {
        margin-left: -4px;
        outline: 1px solid #e6e6e6;
        display: inline-block;
        position: relative;
        top: 3px;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }

    .fancytree-node {
        .tooltip.right .tooltip-arrow {
            border-top-color: transparent !important;
            border-right-color: #fff;
        }

        .tooltip-inner {
            background-color: #fff !important;
            width: auto !important;
            color: #1E3C49;
            height: 100% !important;
            padding: 7px 10px;
            font-size: 15px !important;
            font-family: Roboto;
            box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
            border-radius: 10px;
            text-align: left;
            min-width: auto;

            a {
                margin: 0;
            }
        }
    }

    .search-results {
        div.list-view {
            padding-bottom: 60px !important;
        }
    }
}
.body-vacancy-index-wrapper {
    .select2-dropdown {
        border-radius: 0 0 2px 2px !important;
    }
}