.vacancy-index-wrapper,
.vacancy-view-wrapper {
  /* Slider */
  /*Social styles (already exist on site, just not in this file) */
  /* Company Page */
  /* Modal Откликлнуться на вакансию */
  /*  New Vacancy Page  */
  /* Searches */
}
.vacancy-index-wrapper .single-slider,
.vacancy-view-wrapper .single-slider {
  margin-bottom: 20px;
}
.vacancy-index-wrapper .single-slider .slider-for,
.vacancy-view-wrapper .single-slider .slider-for {
  margin: 20px 5px 8px 0;
  overflow: hidden;
}
.vacancy-index-wrapper .single-slider .slider-for img,
.vacancy-view-wrapper .single-slider .slider-for img {
  width: 100%;
  min-height: 100%;
}
.vacancy-index-wrapper .single-slider .slider-nav,
.vacancy-view-wrapper .single-slider .slider-nav {
  margin: auto;
}
.vacancy-index-wrapper .single-slider .slider-nav img,
.vacancy-view-wrapper .single-slider .slider-nav img {
  width: 100%;
  min-height: 100%;
}
.vacancy-index-wrapper .single-slider .slider-nav .slick-slide,
.vacancy-view-wrapper .single-slider .slider-nav .slick-slide {
  height: auto;
  margin-right: 10px;
  height: 46px;
  overflow: hidden;
}
.vacancy-index-wrapper .single-slider .slider-nav .slick-track,
.vacancy-view-wrapper .single-slider .slider-nav .slick-track {
  height: auto;
}
.vacancy-index-wrapper .single-slider .slick-list,
.vacancy-view-wrapper .single-slider .slick-list {
  padding: 0 !important;
}
.vacancy-index-wrapper .single-slider .slick-arrow,
.vacancy-view-wrapper .single-slider .slick-arrow {
  position: absolute;
  top: 50% !important;
  z-index: 50;
}
.vacancy-index-wrapper .single-slider .slick-prev,
.vacancy-view-wrapper .single-slider .slick-prev {
  left: 7px !important;
}
.vacancy-index-wrapper .single-slider .slick-prev:before,
.vacancy-view-wrapper .single-slider .slick-prev:before {
  font-family: FontAwesome;
  content: "\f104";
  opacity: 1;
}
.vacancy-index-wrapper .single-slider .slick-next,
.vacancy-view-wrapper .single-slider .slick-next {
  right: 12px !important;
}
.vacancy-index-wrapper .single-slider .slick-next:before,
.vacancy-view-wrapper .single-slider .slick-next:before {
  font-family: FontAwesome;
  content: "\f105";
  opacity: 1;
}
@media (max-width: 1199px) {
  .vacancy-index-wrapper .single-slider .slider-for,
  .vacancy-view-wrapper .single-slider .slider-for {
    margin-right: 10px;
  }
  .vacancy-index-wrapper .single-slider .slider-nav .slick-slide,
  .vacancy-view-wrapper .single-slider .slider-nav .slick-slide {
    height: 72px;
  }
  .vacancy-index-wrapper .single-slider .slick-track .slick-slide div,
  .vacancy-view-wrapper .single-slider .slick-track .slick-slide div {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .vacancy-index-wrapper .single-slider .slider-for,
  .vacancy-view-wrapper .single-slider .slider-for {
    margin-right: 8px;
  }
}
@media (max-width: 500px) {
  .vacancy-index-wrapper .single-slider .slider-for,
  .vacancy-view-wrapper .single-slider .slider-for {
    margin-right: 3px;
  }
  .vacancy-index-wrapper .single-slider .slider-nav .slick-slide,
  .vacancy-view-wrapper .single-slider .slider-nav .slick-slide {
    margin-right: 5px;
    height: 46px !important;
  }
  .vacancy-index-wrapper .single-slider .slider-nav .slick-slide div,
  .vacancy-view-wrapper .single-slider .slider-nav .slick-slide div {
    height: 100%;
  }
}
.vacancy-index-wrapper .jssocials-share-link,
.vacancy-view-wrapper .jssocials-share-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  padding: .5em .6em;
  color: #fff;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  background: #777;
}
.vacancy-index-wrapper .jssocials-share-logo,
.vacancy-view-wrapper .jssocials-share-logo {
  width: 1em;
  vertical-align: middle;
  font-size: 1em;
}
.vacancy-index-wrapper .jssocials-shares,
.vacancy-view-wrapper .jssocials-shares {
  margin: .2em 0;
}
.vacancy-index-wrapper .jssocials-share,
.vacancy-view-wrapper .jssocials-share {
  display: inline-block;
  vertical-align: top;
  margin: .3em .6em .3em 0;
}
.vacancy-index-wrapper .btn-grey,
.vacancy-view-wrapper .btn-grey {
  background: #777;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  transition: ease 0.3s;
  display: block;
  text-align: center;
  cursor: pointer;
  max-width: 210px;
}
.vacancy-index-wrapper .btn-grey:hover,
.vacancy-view-wrapper .btn-grey:hover {
  background: #515151;
  color: #fff;
}
.vacancy-index-wrapper .grey-box,
.vacancy-view-wrapper .grey-box {
  display: flex;
  align-items: center;
  background: rgba(196, 196, 196, 0.2);
  padding: 1em;
  border-radius: 5px;
}
.vacancy-index-wrapper .grey-box:not(:last-of-type),
.vacancy-view-wrapper .grey-box:not(:last-of-type) {
  margin-bottom: 10px;
}
.vacancy-index-wrapper .grey-box strong,
.vacancy-view-wrapper .grey-box strong {
  display: block;
  color: #1E3C49;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
}
.vacancy-index-wrapper .grey-box strong.orange,
.vacancy-view-wrapper .grey-box strong.orange {
  color: #FA6414;
}
.vacancy-index-wrapper .footer-btns,
.vacancy-view-wrapper .footer-btns {
  margin-top: 2em;
}
.vacancy-index-wrapper .footer-btns a.btn:last-of-type,
.vacancy-view-wrapper .footer-btns a.btn:last-of-type {
  margin-left: 2em;
}
.vacancy-index-wrapper .flexed,
.vacancy-view-wrapper .flexed {
  display: flex;
}
.vacancy-index-wrapper .flexed.row,
.vacancy-view-wrapper .flexed.row {
  flex-wrap: wrap;
}
.vacancy-index-wrapper .flexed.row h2,
.vacancy-view-wrapper .flexed.row h2 {
  padding: 0 !important;
}
.vacancy-index-wrapper .flexed.row .single-cards,
.vacancy-view-wrapper .flexed.row .single-cards {
  margin: 30px 15px;
}
.vacancy-index-wrapper .flexed.row .single-cards a,
.vacancy-view-wrapper .flexed.row .single-cards a {
  font-weight: 500;
}
.vacancy-index-wrapper .flexed.row .single-cards p.flexed .pull-right,
.vacancy-view-wrapper .flexed.row .single-cards p.flexed .pull-right {
  margin-left: auto;
}
.vacancy-index-wrapper .flexed.row .single-cards .white-box,
.vacancy-view-wrapper .flexed.row .single-cards .white-box {
  margin-bottom: 20px;
}
.vacancy-index-wrapper .premium-box,
.vacancy-view-wrapper .premium-box {
  border: 2px solid #FAD514;
}
.vacancy-index-wrapper ul.breadcrumb li.goBack:before,
.vacancy-view-wrapper ul.breadcrumb li.goBack:before {
  display: none;
}
.vacancy-index-wrapper .single-reviews a,
.vacancy-view-wrapper .single-reviews a {
  font-weight: 500;
}
.vacancy-index-wrapper .single-buttons a,
.vacancy-view-wrapper .single-buttons a {
  font-weight: 500;
}
.vacancy-index-wrapper .single-buttons span:not(.hidden-xs),
.vacancy-view-wrapper .single-buttons span:not(.hidden-xs) {
  margin-top: ;
  color: rgba(116, 133, 138, 0.5);
}
.vacancy-index-wrapper .single-buttons span.green-text,
.vacancy-view-wrapper .single-buttons span.green-text {
  color: #4BC65F;
}
.vacancy-index-wrapper .single-buttons .tooltip-inner,
.vacancy-view-wrapper .single-buttons .tooltip-inner {
  background-color: #fff !important;
  width: auto !important;
  color: #1E3C49;
  height: 100% !important;
  padding: 15px;
  font-size: 15px !important;
  font-family: Roboto;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  text-align: left;
}
.vacancy-index-wrapper .single-buttons .tooltip,
.vacancy-view-wrapper .single-buttons .tooltip {
  font-size: 14px;
  opacity: 1;
  font-family: Roboto;
}
.vacancy-index-wrapper .single-buttons .tooltip .tooltip-arrow,
.vacancy-view-wrapper .single-buttons .tooltip .tooltip-arrow {
  border-top-color: #fff !important;
}
.vacancy-index-wrapper .single-buttons .tooltip.bottom,
.vacancy-view-wrapper .single-buttons .tooltip.bottom {
  display: none;
}
.vacancy-index-wrapper .single-buttons .tooltip.bottom .tooltip-arrow,
.vacancy-view-wrapper .single-buttons .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff !important;
}
.vacancy-index-wrapper .single-buttons .tooltip.right .tooltip-arrow,
.vacancy-view-wrapper .single-buttons .tooltip.right .tooltip-arrow {
  border-top-color: transparent !important;
  border-right-color: #fff !important;
}
.vacancy-index-wrapper .link-thin,
.vacancy-view-wrapper .link-thin {
  font-size: 14px;
  line-height: 112%;
  font-weight: normal !important;
  color: #52C2DF;
  display: block;
  margin-top: 10px;
}
.vacancy-index-wrapper span.semi-title,
.vacancy-view-wrapper span.semi-title {
  display: block;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #1E3C49;
  margin-bottom: 10px;
}
.vacancy-index-wrapper .allVacancies,
.vacancy-view-wrapper .allVacancies {
  font-size: 16px;
  display: block;
  width: auto;
  margin-top: 5px;
  font-weight: 500;
  font-family: Roboto;
}
.vacancy-index-wrapper .allVacancies i,
.vacancy-view-wrapper .allVacancies i {
  vertical-align: top;
}
.vacancy-index-wrapper button.btn-right,
.vacancy-view-wrapper button.btn-right {
  margin-left: 15px;
  width: 47.5%;
}
.vacancy-index-wrapper .single-list,
.vacancy-view-wrapper .single-list {
  font-weight: 500;
}
.vacancy-index-wrapper .single-list li.row,
.vacancy-view-wrapper .single-list li.row {
  margin-bottom: 10px;
  min-width: 120px;
}
.vacancy-index-wrapper .single-list li.row.mt,
.vacancy-view-wrapper .single-list li.row.mt {
  margin-top: 2em;
}
.vacancy-index-wrapper .single-list li.row .pull-right,
.vacancy-view-wrapper .single-list li.row .pull-right {
  font-size: 16px;
  color: #1E3C49;
  font-family: RobotoM;
}
.vacancy-index-wrapper .single-list li.row .pull-right p,
.vacancy-view-wrapper .single-list li.row .pull-right p {
  color: #74858A;
}
.vacancy-index-wrapper .single-list li.row .pull-right span,
.vacancy-view-wrapper .single-list li.row .pull-right span {
  display: inline-block;
  margin-right: 5px;
}
.vacancy-index-wrapper .single-list li.row .pull-right span i.flag-bg,
.vacancy-view-wrapper .single-list li.row .pull-right span i.flag-bg {
  margin-left: -4px;
  margin-right: -4px;
}
.vacancy-index-wrapper .single-map,
.vacancy-view-wrapper .single-map {
  margin: 1em 0;
}
.vacancy-index-wrapper .single-title,
.vacancy-view-wrapper .single-title {
  margin-bottom: 10px;
}
.vacancy-index-wrapper .single-title a,
.vacancy-view-wrapper .single-title a {
  font-size: 20px;
  line-height: 23px;
  color: #52C2DF;
  font-weight: 900;
}
.vacancy-index-wrapper .single-title span.pull-right,
.vacancy-view-wrapper .single-title span.pull-right {
  color: rgba(116, 133, 138, 0.5);
}
.vacancy-index-wrapper .no-padding,
.vacancy-view-wrapper .no-padding {
  padding: 0 !important;
}
.vacancy-index-wrapper .aside,
.vacancy-view-wrapper .aside {
  width: 30% !important;
  font-family: Roboto;
  font-style: normal;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vacancy-index-wrapper .aside .company-links .single-list .pull-left,
.vacancy-view-wrapper .aside .company-links .single-list .pull-left {
  font-size: 16px !important;
}
.vacancy-index-wrapper .aside .company-links .single-list strong,
.vacancy-view-wrapper .aside .company-links .single-list strong {
  color: #74858A !important;
}
.vacancy-index-wrapper .aside .company-reviews .single-review p.review-text,
.vacancy-view-wrapper .aside .company-reviews .single-review p.review-text {
  color: #1E3C49;
  margin: 10px 0;
}
.vacancy-index-wrapper .aside .company-reviews .single-review .review-rating,
.vacancy-view-wrapper .aside .company-reviews .single-review .review-rating {
  align-items: center;
  justify-content: space-between;
}
.vacancy-index-wrapper .aside hr,
.vacancy-view-wrapper .aside hr {
  margin: 20px 0;
  background: #C4C4C4;
  opacity: 0.5;
}
.vacancy-index-wrapper .aside .single-list li.row,
.vacancy-view-wrapper .aside .single-list li.row {
  margin-bottom: 10px;
}
.vacancy-index-wrapper .aside .single-list li.row .pull-right,
.vacancy-view-wrapper .aside .single-list li.row .pull-right {
  font-size: 16px;
  color: #1E3C49;
}
.vacancy-index-wrapper .aside .single-list li.row .pull-left,
.vacancy-view-wrapper .aside .single-list li.row .pull-left {
  font-size: 14px;
}
.vacancy-index-wrapper .single-status,
.vacancy-view-wrapper .single-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* space-between; */
}
.vacancy-index-wrapper .single-status span,
.vacancy-view-wrapper .single-status span {
  font-size: 15px;
  color: rgba(116, 133, 138, 0.5);
}
.vacancy-index-wrapper .single-status .premium,
.vacancy-view-wrapper .single-status .premium {
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  background: #FABA14;
  border-radius: 58px;
  margin-left: 7px;
}
.vacancy-index-wrapper .single-status .premium.new,
.vacancy-view-wrapper .single-status .premium.new {
  background: #FA6414;
}
.vacancy-index-wrapper .company-rating span,
.vacancy-view-wrapper .company-rating span {
  font-size: 18px;
}
.vacancy-index-wrapper .company-rating span.checked,
.vacancy-view-wrapper .company-rating span.checked {
  color: #FA6414;
}
.vacancy-index-wrapper .company-rating a,
.vacancy-view-wrapper .company-rating a {
  display: block;
  margin-top: 5px;
}
.vacancy-index-wrapper .single-left,
.vacancy-view-wrapper .single-left {
  width: 70% !important;
  font-family: Roboto;
  font-style: normal;
}
.vacancy-index-wrapper .single-left .breadcrumb,
.vacancy-view-wrapper .single-left .breadcrumb {
  margin-bottom: 20px;
}
.vacancy-index-wrapper .single-left .back-link,
.vacancy-view-wrapper .single-left .back-link {
  position: absolute;
  top: 3px;
  right: 2%;
}
.vacancy-index-wrapper .single-left .col-md-9 h2,
.vacancy-view-wrapper .single-left .col-md-9 h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #1E3C49;
  text-align: left;
  padding: 0;
  margin-bottom: 1em;
}
.vacancy-index-wrapper .single-left .col-md-9 hr,
.vacancy-view-wrapper .single-left .col-md-9 hr {
  margin: 20px 0;
  background: #C4C4C4;
  opacity: 0.5;
}
.vacancy-index-wrapper .single-left .col-md-9 .single-info,
.vacancy-view-wrapper .single-left .col-md-9 .single-info {
  margin: 1em 0;
}
.vacancy-index-wrapper .single-left .col-md-9 .single-info span,
.vacancy-view-wrapper .single-left .col-md-9 .single-info span {
  font-weight: 500;
}
.vacancy-index-wrapper .single-left .col-md-9 .single-info p,
.vacancy-view-wrapper .single-left .col-md-9 .single-info p {
  font-size: 16px;
  line-height: 19px;
  color: #1E3C49;
  margin-top: 10px;
}
.vacancy-index-wrapper .single-left .col-md-9 .single-views,
.vacancy-view-wrapper .single-left .col-md-9 .single-views {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(116, 133, 138, 0.5);
}
.vacancy-index-wrapper .single-left .col-md-9 .single-views .col-xs-6,
.vacancy-view-wrapper .single-left .col-md-9 .single-views .col-xs-6 {
  padding: 0 !important;
}
.vacancy-index-wrapper .single-left .col-md-3.pull-right,
.vacancy-view-wrapper .single-left .col-md-3.pull-right {
  padding: 0 10px 0 0 !important;
}
.vacancy-index-wrapper .single-left .col-md-3.pull-right .single-logo,
.vacancy-view-wrapper .single-left .col-md-3.pull-right .single-logo {
  margin-top: 1em;
}
.vacancy-index-wrapper #mz-modal label,
.vacancy-view-wrapper #mz-modal label {
  font-size: 14px;
  line-height: 16px;
  color: #74858A;
  margin-bottom: 5px;
}
.vacancy-index-wrapper #mz-modal .form-group:last-child,
.vacancy-view-wrapper #mz-modal .form-group:last-child {
  margin-bottom: 0;
}
.vacancy-index-wrapper #mz-modal .form-control,
.vacancy-view-wrapper #mz-modal .form-control {
  border: 1px solid #c8c8c8;
}
.vacancy-index-wrapper #mz-modal .form-control.pull-left,
.vacancy-view-wrapper #mz-modal .form-control.pull-left {
  width: 80%;
  background: #fff;
}
.vacancy-index-wrapper #mz-modal .form-control.pull-right,
.vacancy-view-wrapper #mz-modal .form-control.pull-right {
  width: 19%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacancy-index-wrapper #mz-modal .modal-header,
.vacancy-view-wrapper #mz-modal .modal-header {
  border: none;
}
.vacancy-index-wrapper #mz-modal .modal-footer,
.vacancy-view-wrapper #mz-modal .modal-footer {
  text-align: center;
  border: none;
}
.vacancy-index-wrapper #mz-modal .custom-checkbox,
.vacancy-view-wrapper #mz-modal .custom-checkbox {
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-icon-min.png) left top no-repeat;
  top: 0;
  background-position: 0;
  margin-right: 5px;
}
.vacancy-index-wrapper #mz-modal .custom-checkbox.checked,
.vacancy-view-wrapper #mz-modal .custom-checkbox.checked {
  background-position: -17px 0;
}
.vacancy-index-wrapper h3.title,
.vacancy-view-wrapper h3.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #1E3C49;
  margin-bottom: 10px;
}
.vacancy-index-wrapper .row.mt,
.vacancy-view-wrapper .row.mt {
  margin-top: 2em;
}
.vacancy-index-wrapper .new-tips,
.vacancy-view-wrapper .new-tips {
  padding-top: 45px;
}
.vacancy-index-wrapper .new-tips i.fa,
.vacancy-view-wrapper .new-tips i.fa {
  display: block;
  font-size: 36px;
  margin-bottom: 15px;
}
.vacancy-index-wrapper .new-tips p,
.vacancy-view-wrapper .new-tips p {
  max-width: 260px;
  font-size: 20px;
  line-height: 23px;
}
.vacancy-index-wrapper .new-form,
.vacancy-view-wrapper .new-form {
  margin-bottom: 50px;
  /* Tooltips */
  /* Tooltips */
}
.vacancy-index-wrapper .new-form .tooltip-inner,
.vacancy-view-wrapper .new-form .tooltip-inner {
  background-color: #FFF !important;
  width: auto !important;
  color: #1E3C49 !important;
  height: 100% !important;
  padding: 15px;
  font-size: 16px !important;
  font-family: Roboto;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  text-align: left !important;
}
.vacancy-index-wrapper .new-form .tooltip,
.vacancy-view-wrapper .new-form .tooltip {
  font-size: 14px;
  opacity: 1;
  font-family: Roboto;
}
.vacancy-index-wrapper .new-form .tooltip .tooltip-arrow,
.vacancy-view-wrapper .new-form .tooltip .tooltip-arrow {
  border-top-color: #fff !important;
}
.vacancy-index-wrapper .new-form .tooltip.bottom,
.vacancy-view-wrapper .new-form .tooltip.bottom {
  display: none;
}
.vacancy-index-wrapper .new-form .tooltip.bottom .tooltip-arrow,
.vacancy-view-wrapper .new-form .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff !important;
}
.vacancy-index-wrapper .new-form .tooltip.right .tooltip-arrow,
.vacancy-view-wrapper .new-form .tooltip.right .tooltip-arrow {
  border-top-color: transparent !important;
  border-right-color: #fff !important;
}
.vacancy-index-wrapper .new-form select#seamen_status_field,
.vacancy-view-wrapper .new-form select#seamen_status_field {
  font-family: FontAwesome;
}
.vacancy-index-wrapper .new-form .semi-title,
.vacancy-view-wrapper .new-form .semi-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}
.vacancy-index-wrapper .new-form .form-group label.pull-left,
.vacancy-view-wrapper .new-form .form-group label.pull-left,
.vacancy-index-wrapper .new-form .form-group .form-text,
.vacancy-view-wrapper .new-form .form-group .form-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1E3C49;
}
.vacancy-index-wrapper .new-form .form-group.required label span,
.vacancy-view-wrapper .new-form .form-group.required label span {
  color: #FA6414;
}
.vacancy-index-wrapper .new-form hr.row,
.vacancy-view-wrapper .new-form hr.row {
  margin: 2em -15px;
}
.vacancy-index-wrapper .form-head.row,
.vacancy-view-wrapper .form-head.row {
  align-items: center;
  flex-wrap: wrap;
}
.vacancy-index-wrapper .form-head.row a,
.vacancy-view-wrapper .form-head.row a {
  margin-right: 10px;
}
.vacancy-index-wrapper .grey,
.vacancy-view-wrapper .grey {
  color: #74858A;
}
.vacancy-index-wrapper .grey.small,
.vacancy-view-wrapper .grey.small {
  font-size: 13px;
  line-height: 15px;
}
.vacancy-index-wrapper .aligned,
.vacancy-view-wrapper .aligned {
  align-self: center;
}
.vacancy-index-wrapper .btn-uppercase,
.vacancy-view-wrapper .btn-uppercase {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 19px !important;
}
.vacancy-index-wrapper .form-head.row,
.vacancy-view-wrapper .form-head.row,
.vacancy-index-wrapper .form-group.row,
.vacancy-view-wrapper .form-group.row {
  display: flex;
  margin: 0 0 1em 0 !important;
}
.vacancy-index-wrapper .form-head.row .pull-left,
.vacancy-view-wrapper .form-head.row .pull-left,
.vacancy-index-wrapper .form-group.row .pull-left,
.vacancy-view-wrapper .form-group.row .pull-left {
  width: 30%;
}
.vacancy-index-wrapper .form-head.row i,
.vacancy-view-wrapper .form-head.row i,
.vacancy-index-wrapper .form-group.row i,
.vacancy-view-wrapper .form-group.row i {
  align-self: center;
}
.vacancy-index-wrapper .form-head.row .inputs-row,
.vacancy-view-wrapper .form-head.row .inputs-row,
.vacancy-index-wrapper .form-group.row .inputs-row,
.vacancy-view-wrapper .form-group.row .inputs-row {
  align-items: center;
  flex-wrap: wrap;
  width: 69%;
}
.vacancy-index-wrapper .form-head.row .inputs-row .form-control,
.vacancy-view-wrapper .form-head.row .inputs-row .form-control,
.vacancy-index-wrapper .form-group.row .inputs-row .form-control,
.vacancy-view-wrapper .form-group.row .inputs-row .form-control {
  margin-left: 7px;
}
.vacancy-index-wrapper .form-head.row .inputs-row .form-control.small,
.vacancy-view-wrapper .form-head.row .inputs-row .form-control.small,
.vacancy-index-wrapper .form-group.row .inputs-row .form-control.small,
.vacancy-view-wrapper .form-group.row .inputs-row .form-control.small {
  margin: 0;
}
.vacancy-index-wrapper .form-head.row .inputs-row .flexed,
.vacancy-view-wrapper .form-head.row .inputs-row .flexed,
.vacancy-index-wrapper .form-group.row .inputs-row .flexed,
.vacancy-view-wrapper .form-group.row .inputs-row .flexed {
  align-items: center;
  margin-top: 10px;
}
.vacancy-index-wrapper .form-head.row .form-control,
.vacancy-view-wrapper .form-head.row .form-control,
.vacancy-index-wrapper .form-group.row .form-control,
.vacancy-view-wrapper .form-group.row .form-control {
  width: auto;
  border: 1px solid #C8C8C8;
  margin-right: 7px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #74858A;
}
.vacancy-index-wrapper .form-head.row .form-control.full,
.vacancy-view-wrapper .form-head.row .form-control.full,
.vacancy-index-wrapper .form-group.row .form-control.full,
.vacancy-view-wrapper .form-group.row .form-control.full {
  width: 68%;
}
.vacancy-index-wrapper .form-head.row .form-control.default,
.vacancy-view-wrapper .form-head.row .form-control.default,
.vacancy-index-wrapper .form-group.row .form-control.default,
.vacancy-view-wrapper .form-group.row .form-control.default {
  min-width: 360px;
}
.vacancy-index-wrapper .form-head.row .form-control.medium,
.vacancy-view-wrapper .form-head.row .form-control.medium,
.vacancy-index-wrapper .form-group.row .form-control.medium,
.vacancy-view-wrapper .form-group.row .form-control.medium {
  min-width: 100px;
  max-width: 140px;
}
.vacancy-index-wrapper .form-head.row .form-control.small,
.vacancy-view-wrapper .form-head.row .form-control.small,
.vacancy-index-wrapper .form-group.row .form-control.small,
.vacancy-view-wrapper .form-group.row .form-control.small {
  width: 55px;
}
.vacancy-index-wrapper .form-head.row .form-control.form-photo,
.vacancy-view-wrapper .form-head.row .form-control.form-photo,
.vacancy-index-wrapper .form-group.row .form-control.form-photo,
.vacancy-view-wrapper .form-group.row .form-control.form-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: auto;
  padding: 30px 0;
}
.vacancy-index-wrapper .form-head.row .form-control.form-photo i,
.vacancy-view-wrapper .form-head.row .form-control.form-photo i,
.vacancy-index-wrapper .form-group.row .form-control.form-photo i,
.vacancy-view-wrapper .form-group.row .form-control.form-photo i {
  font-size: 36px;
  margin-bottom: 10px;
  color: #52C2DF;
}
.vacancy-index-wrapper .form-head.row .custom-checkbox,
.vacancy-view-wrapper .form-head.row .custom-checkbox,
.vacancy-index-wrapper .form-group.row .custom-checkbox,
.vacancy-view-wrapper .form-group.row .custom-checkbox {
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-icon-min.png) left top no-repeat;
  top: 0;
  background-position: 0;
  margin: 0 7px;
}
.vacancy-index-wrapper .form-head.row .custom-checkbox.noml,
.vacancy-view-wrapper .form-head.row .custom-checkbox.noml,
.vacancy-index-wrapper .form-group.row .custom-checkbox.noml,
.vacancy-view-wrapper .form-group.row .custom-checkbox.noml {
  margin-left: 0;
}
.vacancy-index-wrapper .form-head.row .custom-checkbox.checked,
.vacancy-view-wrapper .form-head.row .custom-checkbox.checked,
.vacancy-index-wrapper .form-group.row .custom-checkbox.checked,
.vacancy-view-wrapper .form-group.row .custom-checkbox.checked {
  background-position: -17px 0;
}
.vacancy-index-wrapper .search-results .semi-title,
.vacancy-view-wrapper .search-results .semi-title {
  font-size: 28px !important;
  margin-bottom: 20px;
}
.vacancy-index-wrapper .search-results .jobs-total-count,
.vacancy-view-wrapper .search-results .jobs-total-count {
  margin-bottom: 0;
  font-size: 24px;
  color: #152234;
  font-family: 'RobotoM', sans-serif;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .vacancy-index-wrapper .search-results .jobs-total-count,
  .vacancy-view-wrapper .search-results .jobs-total-count {
    padding-top: 10px;
    font-size: 24px;
  }
}
.vacancy-index-wrapper .search-card,
.vacancy-view-wrapper .search-card {
  margin-bottom: 20px;
  position: relative;
  font-weight: 500;
}
.vacancy-index-wrapper .search-card [class^='col-'],
.vacancy-view-wrapper .search-card [class^='col-'],
.vacancy-index-wrapper .search-card [class*='col-'],
.vacancy-view-wrapper .search-card [class*='col-'] {
  padding: 0 !important;
}
.vacancy-index-wrapper .search-card a.card-title,
.vacancy-view-wrapper .search-card a.card-title {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: block;
  margin-bottom: 10px;
}
.vacancy-index-wrapper .search-card .countdown,
.vacancy-view-wrapper .search-card .countdown {
  color: #FA6414;
}
.vacancy-index-wrapper .search-card img,
.vacancy-view-wrapper .search-card img {
  width: 152px;
  height: 152px;
}
.vacancy-index-wrapper .search-card .single-status,
.vacancy-view-wrapper .search-card .single-status {
  position: absolute;
  right: 4%;
  top: 10%;
}
.vacancy-index-wrapper .search-card .single-status span,
.vacancy-view-wrapper .search-card .single-status span {
  margin-left: 5px;
}
.vacancy-index-wrapper .search-card ul,
.vacancy-view-wrapper .search-card ul {
  margin-bottom: 5px;
}
.vacancy-index-wrapper .search-card ul li,
.vacancy-view-wrapper .search-card ul li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.vacancy-index-wrapper .search-card ul li .pull-left,
.vacancy-view-wrapper .search-card ul li .pull-left {
  width: 40%;
  font-weight: 500;
}
.vacancy-index-wrapper .search-card ul li strong,
.vacancy-view-wrapper .search-card ul li strong {
  vertical-align: super;
  font-family: RobotoM;
  font-size: 17px;
  color: #1E3C49;
}
.vacancy-index-wrapper .search-card.search-card-vacancy,
.vacancy-view-wrapper .search-card.search-card-vacancy {
  height: 245px;
  flex-wrap: wrap;
}
.vacancy-index-wrapper .search-card.search-card-vacancy img,
.vacancy-view-wrapper .search-card.search-card-vacancy img {
  height: 124px;
  width: 124px;
  margin-top: -20px;
}
.vacancy-index-wrapper .search-card.search-card-vacancy .col-md-12 span:not(.hidden-xs),
.vacancy-view-wrapper .search-card.search-card-vacancy .col-md-12 span:not(.hidden-xs) {
  margin-left: 20px;
  color: rgba(116, 133, 138, 0.5);
}
.vacancy-index-wrapper .search-card.search-card-vacancy .col-md-12 span.green-text,
.vacancy-view-wrapper .search-card.search-card-vacancy .col-md-12 span.green-text {
  color: #4BC65F;
}
.vacancy-index-wrapper .search-card.search-card-vacancy .flag-bg,
.vacancy-view-wrapper .search-card.search-card-vacancy .flag-bg {
  margin: -7px 0 0 7px;
  outline: 1px solid #e6e6e6;
  display: inline-block;
  position: relative;
  top: 4px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
.vacancy-index-wrapper .search-card.search-card-company,
.vacancy-view-wrapper .search-card.search-card-company {
  height: 207px;
}
.vacancy-index-wrapper .search-card.search-card-company .company-rating,
.vacancy-view-wrapper .search-card.search-card-company .company-rating {
  position: absolute;
  bottom: 15%;
  right: 4%;
}
.vacancy-index-wrapper .search-card.search-card-company .company-rating .grey,
.vacancy-view-wrapper .search-card.search-card-company .company-rating .grey {
  margin-left: 10px;
}
.vacancy-index-wrapper .sorting #sort.form-control,
.vacancy-view-wrapper .sorting #sort.form-control {
  background: transparent url(../img/select-arrow-40x40.png) right center no-repeat;
  padding-right: 30px;
  width: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
.vacancy-index-wrapper .column,
.vacancy-view-wrapper .column {
  display: flex;
  flex-direction: column;
}
.vacancy-index-wrapper .search-views,
.vacancy-view-wrapper .search-views {
  margin-top: 5em;
  font-weight: 500;
  color: #1E3C49;
}
.vacancy-index-wrapper .search-views span,
.vacancy-view-wrapper .search-views span {
  font-size: 18px;
  display: block;
  width: 70%;
  margin-bottom: 10px;
}
.vacancy-index-wrapper .search-views strong,
.vacancy-view-wrapper .search-views strong {
  font-size: 28px;
}
.vacancy-index-wrapper .container .row .single-cards,
.vacancy-view-wrapper .container .row .single-cards {
  margin: 30px 15px;
}
.vacancy-index-wrapper .container .row .single-hot .empty,
.vacancy-view-wrapper .container .row .single-hot .empty {
  font-family: RobotoB, sans-serif;
  padding: 20px 0;
}
.vacancy-index-wrapper .container.search,
.vacancy-view-wrapper .container.search {
  padding-top: 40px;
  margin-bottom: 40px;
}
.vacancy-index-wrapper .container.search .column,
.vacancy-view-wrapper .container.search .column {
  justify-content: space-between;
}
.vacancy-index-wrapper .container.search .h1,
.vacancy-view-wrapper .container.search .h1 {
  margin: 0;
  padding: 0;
}
.vacancy-index-wrapper .container.search .breadcrumb,
.vacancy-view-wrapper .container.search .breadcrumb {
  margin-bottom: 10px;
}
.vacancy-index-wrapper .container.search .search-body,
.vacancy-view-wrapper .container.search .search-body {
  margin-top: 20px;
}
.vacancy-index-wrapper .container.search .search-body .semi-title,
.vacancy-view-wrapper .container.search .search-body .semi-title {
  font-size: 18px;
}
.vacancy-index-wrapper .container.search .search-body .search-list.list-hidden,
.vacancy-view-wrapper .container.search .search-body .search-list.list-hidden {
  display: none;
}
.vacancy-index-wrapper .container.search .search-body .search-list.list-inner,
.vacancy-view-wrapper .container.search .search-body .search-list.list-inner {
  margin-left: 15px;
}
.vacancy-index-wrapper .container.search .search-body .search-list.list-inner li.active a,
.vacancy-view-wrapper .container.search .search-body .search-list.list-inner li.active a,
.vacancy-index-wrapper .container.search .search-body .search-list.list-inner li.active span,
.vacancy-view-wrapper .container.search .search-body .search-list.list-inner li.active span {
  color: #1E3C49;
}
.vacancy-index-wrapper .container.search .search-body .search-list.list-inner li:last-child,
.vacancy-view-wrapper .container.search .search-body .search-list.list-inner li:last-child {
  margin-bottom: 20px;
}
.vacancy-index-wrapper .container.search .search-body .search-list li,
.vacancy-view-wrapper .container.search .search-body .search-list li {
  margin-top: 10px;
  font-weight: 500;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .submit-buttons,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .submit-buttons {
  display: flex;
  align-items: center;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .submit-buttons a.search,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .submit-buttons a.search {
  width: 55%;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .checkbox-with-label,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .checkbox-with-label {
  margin-top: 5px;
  cursor: pointer;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .custom-checkbox,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .custom-checkbox {
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-icon-min.png) left top no-repeat;
  top: 3px;
  background-position: 0;
  margin-right: 5px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .custom-checkbox.box-checked,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .custom-checkbox.box-checked {
  background-position: -17px 0;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container.select2-container--open.select2-container--below .select2-selection--multiple .select2-selection__rendered,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container.select2-container--open.select2-container--below .select2-selection--multiple .select2-selection__rendered {
  border-radius: 2px 2px 0 0 !important;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container.select2-container--open.select2-container--above .select2-selection--multiple .select2-selection__rendered,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container.select2-container--open.select2-container--above .select2-selection--multiple .select2-selection__rendered {
  border-radius: 0 0 2px 2px !important;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple {
  height: auto;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-selection__rendered,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-selection__rendered {
  height: auto;
  background: transparent url(../img/select-arrow-40x40.png) right center no-repeat;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  padding-right: 7%;
  padding-bottom: 7px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-results__options li,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-results__options li {
  padding: 7px 14px 8px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .clear-btn,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .clear-btn {
  display: none;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-selection__choice,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-selection__choice {
  background: #FA6414;
  color: #fff;
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  float: right;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 4px 4px 4px 10px;
  order: 2;
  margin-left: 10px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .form-control,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .form-control {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  color: #787878;
  font-size: 16px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .form-control:focus,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .form-control:focus {
  outline: none !important;
  outline-width: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .form-control::-webkit-input-placeholder,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .form-control::-webkit-input-placeholder {
  color: #787878;
  font-size: 16px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .form-control::-moz-placeholder,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .form-control::-moz-placeholder {
  color: #787878;
  font-size: 16px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .form-control:-ms-input-placeholder,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .form-control:-ms-input-placeholder {
  color: #787878;
  font-size: 16px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .form-control:-moz-placeholder,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .form-control:-moz-placeholder {
  color: #787878;
  font-size: 16px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .input-group,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .input-group {
  margin: 7px 0;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .input-group .input-group-addon,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .input-group .input-group-addon {
  color: #ccc !important;
  font-size: 16px;
  padding: 6px 8px;
  border-color: #CCCCCC;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: transparent;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .input-group .input-group-addon.kv-date-calendar,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .input-group .input-group-addon.kv-date-calendar {
  padding-top: 12px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .input-group .form-control:last-child,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .input-group .form-control:last-child {
  padding-left: 1px;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .filter-search,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .filter-search {
  background: #FFFFFF;
  margin: 10px 0;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  height: 36px;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .filter-search .btn-search,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .filter-search .btn-search {
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 16px;
  width: 10%;
  background-color: transparent;
}
.vacancy-index-wrapper .search-options .search-sidebar-wrapper .filter-search .search-control,
.vacancy-view-wrapper .search-options .search-sidebar-wrapper .filter-search .search-control {
  border: none;
  width: 90%;
  height: 100%;
  outline: none;
  background-color: transparent;
}
@media (max-width: 1199px) {
  .vacancy-index-wrapper .single-status,
  .vacancy-view-wrapper .single-status {
    justify-content: space-between;
  }
  .vacancy-index-wrapper .aside,
  .vacancy-view-wrapper .aside {
    margin-top: 0;
    padding: 0 30px !important;
  }
  .vacancy-index-wrapper .aside.vacancy-aside,
  .vacancy-view-wrapper .aside.vacancy-aside {
    order: 3;
    margin-bottom: 30px;
  }
  .vacancy-index-wrapper .aside.company-aside,
  .vacancy-view-wrapper .aside.company-aside {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  .vacancy-index-wrapper .aside.company-aside .jssocials,
  .vacancy-view-wrapper .aside.company-aside .jssocials {
    order: 1;
  }
  .vacancy-index-wrapper .aside.company-aside .company-reviews,
  .vacancy-view-wrapper .aside.company-aside .company-reviews {
    order: 2;
  }
  .vacancy-index-wrapper .aside.company-aside .company-reviews i.hidden,
  .vacancy-view-wrapper .aside.company-aside .company-reviews i.hidden {
    display: inline-block !important;
  }
  .vacancy-index-wrapper .aside.company-aside .company-reviews .hidden,
  .vacancy-view-wrapper .aside.company-aside .company-reviews .hidden {
    display: block !important;
  }
  .vacancy-index-wrapper .aside.company-aside .company-reviews .single-reviews,
  .vacancy-view-wrapper .aside.company-aside .company-reviews .single-reviews {
    display: none;
  }
  .vacancy-index-wrapper .aside.company-aside .company-links,
  .vacancy-view-wrapper .aside.company-aside .company-links {
    order: 3;
  }
  .vacancy-index-wrapper .aside .hidden-sm,
  .vacancy-view-wrapper .aside .hidden-sm {
    display: none !important;
  }
  .vacancy-index-wrapper .single-cards,
  .vacancy-view-wrapper .single-cards {
    margin: 30px 0 !important;
    padding: inherit;
  }
  .vacancy-index-wrapper .single-cards .company-vacancies,
  .vacancy-view-wrapper .single-cards .company-vacancies {
    padding: 0 15px;
  }
  .vacancy-index-wrapper button.btn-right,
  .vacancy-view-wrapper button.btn-right {
    width: auto;
  }
  .vacancy-index-wrapper .single-left .hidden-md,
  .vacancy-view-wrapper .single-left .hidden-md {
    display: block !important;
  }
  .vacancy-index-wrapper .single-left .hidden-md.single-status,
  .vacancy-view-wrapper .single-left .hidden-md.single-status {
    display: flex !important;
  }
  .vacancy-index-wrapper .single-left .hidden-md.flexed,
  .vacancy-view-wrapper .single-left .hidden-md.flexed {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
  }
  .vacancy-index-wrapper .single-left .hidden-sm,
  .vacancy-view-wrapper .single-left .hidden-sm {
    display: none !important;
  }
  .vacancy-index-wrapper .jssocials.hidden-md,
  .vacancy-view-wrapper .jssocials.hidden-md {
    display: block !important;
    margin-top: 15px;
    padding: 0 30px !important;
  }
  .vacancy-index-wrapper .search .search-results,
  .vacancy-view-wrapper .search .search-results {
    order: 3;
  }
  .vacancy-index-wrapper .search .search-results .semi-title,
  .vacancy-view-wrapper .search .search-results .semi-title {
    margin-top: 20px;
  }
  .vacancy-index-wrapper .new-tips,
  .vacancy-view-wrapper .new-tips,
  .vacancy-index-wrapper .search-views,
  .vacancy-view-wrapper .search-views {
    display: none;
  }
  .vacancy-index-wrapper .search-body,
  .vacancy-view-wrapper .search-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .vacancy-index-wrapper .search-body .sorting,
  .vacancy-view-wrapper .search-body .sorting {
    order: 2;
  }
}
@media (max-width: 767px) {
  .vacancy-index-wrapper .single-status.hidden-md .single-logo,
  .vacancy-view-wrapper .single-status.hidden-md .single-logo {
    max-width: 40%;
  }
  .vacancy-index-wrapper button.btn-right,
  .vacancy-view-wrapper button.btn-right {
    margin-left: 0;
  }
  .vacancy-index-wrapper .grey-box,
  .vacancy-view-wrapper .grey-box {
    flex-direction: column;
  }
  .vacancy-index-wrapper .grey-box [class^='col-'],
  .vacancy-view-wrapper .grey-box [class^='col-'],
  .vacancy-index-wrapper .grey-box [class*='col-'],
  .vacancy-view-wrapper .grey-box [class*='col-'] {
    text-align: center;
  }
  .vacancy-index-wrapper .grey-box [class^='col-']:not(:last-of-type),
  .vacancy-view-wrapper .grey-box [class^='col-']:not(:last-of-type),
  .vacancy-index-wrapper .grey-box [class*='col-']:not(:last-of-type),
  .vacancy-view-wrapper .grey-box [class*='col-']:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .vacancy-index-wrapper .grey-box .btn-grey,
  .vacancy-view-wrapper .grey-box .btn-grey {
    margin: 0 auto;
  }
  .vacancy-index-wrapper .single-list.single-list-c li.row .pull-left,
  .vacancy-view-wrapper .single-list.single-list-c li.row .pull-left {
    width: 75% !important;
    padding-right: 0 !important;
  }
  .vacancy-index-wrapper .single-list.single-list-c li.row .pull-right,
  .vacancy-view-wrapper .single-list.single-list-c li.row .pull-right {
    width: 25% !important;
    margin: 0 !important;
  }
  .vacancy-index-wrapper .single-list.single-list-c li.row a,
  .vacancy-view-wrapper .single-list.single-list-c li.row a {
    display: inline-block;
  }
  .vacancy-index-wrapper .single-list li.row .pull-left,
  .vacancy-view-wrapper .single-list li.row .pull-left,
  .vacancy-index-wrapper .single-list li.row .pull-right,
  .vacancy-view-wrapper .single-list li.row .pull-right {
    width: 100% !important;
  }
  .vacancy-index-wrapper .single-list li.row .pull-left.pull-right,
  .vacancy-view-wrapper .single-list li.row .pull-left.pull-right,
  .vacancy-index-wrapper .single-list li.row .pull-right.pull-right,
  .vacancy-view-wrapper .single-list li.row .pull-right.pull-right {
    margin-top: 5px;
  }
  .vacancy-index-wrapper .single-left,
  .vacancy-view-wrapper .single-left {
    padding-top: 10px;
  }
  .vacancy-index-wrapper .single-left .breadcrumb li:not(.goBack),
  .vacancy-view-wrapper .single-left .breadcrumb li:not(.goBack) {
    display: none;
  }
  .vacancy-index-wrapper .back-link,
  .vacancy-view-wrapper .back-link {
    left: 17px;
  }
  .vacancy-index-wrapper .search .search-card,
  .vacancy-view-wrapper .search .search-card,
  .vacancy-index-wrapper .single-cards .search-card,
  .vacancy-view-wrapper .single-cards .search-card {
    flex-direction: column;
    height: auto !important;
  }
  .vacancy-index-wrapper .search .search-card [class^='col-'],
  .vacancy-view-wrapper .search .search-card [class^='col-'],
  .vacancy-index-wrapper .single-cards .search-card [class^='col-'],
  .vacancy-view-wrapper .single-cards .search-card [class^='col-'],
  .vacancy-index-wrapper .search .search-card [class*='col-'],
  .vacancy-view-wrapper .search .search-card [class*='col-'],
  .vacancy-index-wrapper .single-cards .search-card [class*='col-'],
  .vacancy-view-wrapper .single-cards .search-card [class*='col-'] {
    width: 100% !important;
  }
  .vacancy-index-wrapper .search .search-card [class^='col-'] span.pull-left,
  .vacancy-view-wrapper .search .search-card [class^='col-'] span.pull-left,
  .vacancy-index-wrapper .single-cards .search-card [class^='col-'] span.pull-left,
  .vacancy-view-wrapper .single-cards .search-card [class^='col-'] span.pull-left,
  .vacancy-index-wrapper .search .search-card [class*='col-'] span.pull-left,
  .vacancy-view-wrapper .search .search-card [class*='col-'] span.pull-left,
  .vacancy-index-wrapper .single-cards .search-card [class*='col-'] span.pull-left,
  .vacancy-view-wrapper .single-cards .search-card [class*='col-'] span.pull-left {
    width: 50% !important;
  }
  .vacancy-index-wrapper .search .search-card.search-card-company .company-rating,
  .vacancy-view-wrapper .search .search-card.search-card-company .company-rating,
  .vacancy-index-wrapper .single-cards .search-card.search-card-company .company-rating,
  .vacancy-view-wrapper .single-cards .search-card.search-card-company .company-rating {
    bottom: 4%;
    right: 2%;
  }
  .vacancy-index-wrapper .search .search-card.search-card-company .single-status,
  .vacancy-view-wrapper .search .search-card.search-card-company .single-status,
  .vacancy-index-wrapper .single-cards .search-card.search-card-company .single-status,
  .vacancy-view-wrapper .single-cards .search-card.search-card-company .single-status {
    right: 2%;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-9,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-9,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-9,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-9 {
    order: 2;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-9 ul.column li,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-9 ul.column li,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-9 ul.column li,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-9 ul.column li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-9 ul.column li span,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-9 ul.column li span,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-9 ul.column li span,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-9 ul.column li span {
    margin-bottom: 5px;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-3,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-3,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-3,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-3 {
    order: 1;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-3 img,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-3 img,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-3 img,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-3 img {
    margin: 0;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-12,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-12,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-12,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-12 {
    order: 3;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-12 .views,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-12 .views,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-12 .views,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-12 .views {
    float: right;
  }
  .vacancy-index-wrapper .search .search-card.search-card-vacancy .col-md-12.card-head,
  .vacancy-view-wrapper .search .search-card.search-card-vacancy .col-md-12.card-head,
  .vacancy-index-wrapper .single-cards .search-card.search-card-vacancy .col-md-12.card-head,
  .vacancy-view-wrapper .single-cards .search-card.search-card-vacancy .col-md-12.card-head {
    order: 0;
  }
  .vacancy-index-wrapper .search .search-card .single-status,
  .vacancy-view-wrapper .search .search-card .single-status,
  .vacancy-index-wrapper .single-cards .search-card .single-status,
  .vacancy-view-wrapper .single-cards .search-card .single-status {
    top: 5%;
    display: flex;
    flex-direction: column;
  }
  .vacancy-index-wrapper .search .search-card .single-status span:not(.premium),
  .vacancy-view-wrapper .search .search-card .single-status span:not(.premium),
  .vacancy-index-wrapper .single-cards .search-card .single-status span:not(.premium),
  .vacancy-view-wrapper .single-cards .search-card .single-status span:not(.premium) {
    order: 3;
    align-self: flex-end;
    margin-top: 10px;
  }
  .vacancy-index-wrapper .new-form .form-group.row,
  .vacancy-view-wrapper .new-form .form-group.row,
  .vacancy-index-wrapper .new-form .form-head,
  .vacancy-view-wrapper .new-form .form-head {
    flex-direction: column;
  }
  .vacancy-index-wrapper .new-form .form-group.row .pull-left,
  .vacancy-view-wrapper .new-form .form-group.row .pull-left,
  .vacancy-index-wrapper .new-form .form-head .pull-left,
  .vacancy-view-wrapper .new-form .form-head .pull-left {
    margin-bottom: 10px;
    width: 100%;
  }
  .vacancy-index-wrapper .new-form .form-group.row .inputs-row,
  .vacancy-view-wrapper .new-form .form-group.row .inputs-row,
  .vacancy-index-wrapper .new-form .form-head .inputs-row,
  .vacancy-view-wrapper .new-form .form-head .inputs-row,
  .vacancy-index-wrapper .new-form .form-group.row .form-control.full,
  .vacancy-view-wrapper .new-form .form-group.row .form-control.full,
  .vacancy-index-wrapper .new-form .form-head .form-control.full,
  .vacancy-view-wrapper .new-form .form-head .form-control.full {
    width: 100%;
  }
  .vacancy-index-wrapper .new-form .form-group.row .form-control.default,
  .vacancy-view-wrapper .new-form .form-group.row .form-control.default,
  .vacancy-index-wrapper .new-form .form-head .form-control.default,
  .vacancy-view-wrapper .new-form .form-head .form-control.default {
    min-width: unset;
    padding-right: 30px;
  }
}
@media (max-width: 550px) {
  .vacancy-index-wrapper .dashboard-container,
  .vacancy-view-wrapper .dashboard-container,
  .vacancy-index-wrapper .search.container,
  .vacancy-view-wrapper .search.container {
    padding: 0 5px !important;
  }
  .vacancy-index-wrapper .dashboard-container .white-box,
  .vacancy-view-wrapper .dashboard-container .white-box,
  .vacancy-index-wrapper .search.container .white-box,
  .vacancy-view-wrapper .search.container .white-box {
    padding: 15px;
  }
  .vacancy-index-wrapper .dashboard-container .white-box .ago,
  .vacancy-view-wrapper .dashboard-container .white-box .ago,
  .vacancy-index-wrapper .search.container .white-box .ago,
  .vacancy-view-wrapper .search.container .white-box .ago {
    width: auto !important;
    position: absolute !important;
    right: 0;
  }
  .vacancy-index-wrapper .dashboard-container .single-status,
  .vacancy-view-wrapper .dashboard-container .single-status,
  .vacancy-index-wrapper .search.container .single-status,
  .vacancy-view-wrapper .search.container .single-status {
    padding: 0 !important;
    justify-content: space-between;
  }
  .vacancy-index-wrapper .dashboard-container .single-status .new,
  .vacancy-view-wrapper .dashboard-container .single-status .new,
  .vacancy-index-wrapper .search.container .single-status .new,
  .vacancy-view-wrapper .search.container .single-status .new {
    margin-left: 200px;
  }
  .vacancy-index-wrapper .dashboard-container .single-views [class^='col-'],
  .vacancy-view-wrapper .dashboard-container .single-views [class^='col-'],
  .vacancy-index-wrapper .search.container .single-views [class^='col-'],
  .vacancy-view-wrapper .search.container .single-views [class^='col-'],
  .vacancy-index-wrapper .dashboard-container .single-views [class*='col-'],
  .vacancy-view-wrapper .dashboard-container .single-views [class*='col-'],
  .vacancy-index-wrapper .search.container .single-views [class*='col-'],
  .vacancy-view-wrapper .search.container .single-views [class*='col-'] {
    padding: 0 !important;
  }
  .vacancy-index-wrapper .dashboard-container .single-views .pull-right,
  .vacancy-view-wrapper .dashboard-container .single-views .pull-right,
  .vacancy-index-wrapper .search.container .single-views .pull-right,
  .vacancy-view-wrapper .search.container .single-views .pull-right {
    text-align: right;
  }
  .vacancy-index-wrapper .dashboard-container .card-title .single-title .single-status,
  .vacancy-view-wrapper .dashboard-container .card-title .single-title .single-status,
  .vacancy-index-wrapper .search.container .card-title .single-title .single-status,
  .vacancy-view-wrapper .search.container .card-title .single-title .single-status {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .vacancy-index-wrapper .dashboard-container .card-title .single-title .single-status span:not(.premium),
  .vacancy-view-wrapper .dashboard-container .card-title .single-title .single-status span:not(.premium),
  .vacancy-index-wrapper .search.container .card-title .single-title .single-status span:not(.premium),
  .vacancy-view-wrapper .search.container .card-title .single-title .single-status span:not(.premium) {
    width: 100%;
    order: 3;
    text-align: right;
    margin-top: 5px;
  }
  .vacancy-index-wrapper .dashboard-container .card-body,
  .vacancy-view-wrapper .dashboard-container .card-body,
  .vacancy-index-wrapper .search.container .card-body,
  .vacancy-view-wrapper .search.container .card-body {
    width: 100%;
  }
  .vacancy-index-wrapper .dashboard-container .card-body .pull-right.col-md-3,
  .vacancy-view-wrapper .dashboard-container .card-body .pull-right.col-md-3,
  .vacancy-index-wrapper .search.container .card-body .pull-right.col-md-3,
  .vacancy-view-wrapper .search.container .card-body .pull-right.col-md-3 {
    padding: 0 !important;
  }
  .vacancy-index-wrapper .dashboard-container .card-body .pull-right img,
  .vacancy-view-wrapper .dashboard-container .card-body .pull-right img,
  .vacancy-index-wrapper .search.container .card-body .pull-right img,
  .vacancy-view-wrapper .search.container .card-body .pull-right img {
    max-width: 35%;
  }
  .vacancy-index-wrapper .search .search-card-company,
  .vacancy-view-wrapper .search .search-card-company {
    padding: 20px 0;
  }
  .vacancy-index-wrapper .search .search-card-company ul.column li,
  .vacancy-view-wrapper .search .search-card-company ul.column li {
    flex-direction: column;
    align-items: flex-start;
  }
  .vacancy-index-wrapper .search .search-card-company ul.column li span.pull-left,
  .vacancy-view-wrapper .search .search-card-company ul.column li span.pull-left {
    width: auto !important;
    margin-bottom: 5px;
  }
  .vacancy-index-wrapper .inputs-row .form-control,
  .vacancy-view-wrapper .inputs-row .form-control {
    margin: 2px 0;
  }
  .vacancy-index-wrapper .inputs-row input[type="number"],
  .vacancy-view-wrapper .inputs-row input[type="number"] {
    max-width: 100px !important;
  }
  .vacancy-index-wrapper .column-xs,
  .vacancy-view-wrapper .column-xs {
    flex-direction: column;
  }
  .vacancy-index-wrapper .column-xs select,
  .vacancy-view-wrapper .column-xs select {
    margin-bottom: 10px;
  }
  .vacancy-index-wrapper .column-xs .aligned,
  .vacancy-view-wrapper .column-xs .aligned {
    align-self: flex-start;
  }
}
@media (max-width: 375px) {
  .vacancy-index-wrapper .dashboard-container,
  .vacancy-view-wrapper .dashboard-container {
    padding: 0 !important;
  }
  .vacancy-index-wrapper .dashboard-container ul.breadcrumb,
  .vacancy-view-wrapper .dashboard-container ul.breadcrumb {
    padding: 0 15px;
  }
  .vacancy-index-wrapper .dashboard-container .single-cards .semi-title,
  .vacancy-view-wrapper .dashboard-container .single-cards .semi-title {
    padding: 0 15px;
  }
  .vacancy-index-wrapper span.green-text,
  .vacancy-view-wrapper span.green-text {
    display: block;
    margin-left: 0 !important;
    width: 70%;
    float: left;
    text-align: left;
  }
  .vacancy-index-wrapper .new-form,
  .vacancy-view-wrapper .new-form,
  .vacancy-index-wrapper .new-title,
  .vacancy-view-wrapper .new-title {
    padding: 0 30px !important;
  }
  .vacancy-index-wrapper .single-left .flexed.hidden-md .single-logo,
  .vacancy-view-wrapper .single-left .flexed.hidden-md .single-logo,
  .vacancy-index-wrapper .single-left .flexed.hidden-md .single-status,
  .vacancy-view-wrapper .single-left .flexed.hidden-md .single-status {
    width: 50%;
  }
  .vacancy-index-wrapper .single-left .flexed.hidden-md .single-logo .company-rating,
  .vacancy-view-wrapper .single-left .flexed.hidden-md .single-logo .company-rating,
  .vacancy-index-wrapper .single-left .flexed.hidden-md .single-status .company-rating,
  .vacancy-view-wrapper .single-left .flexed.hidden-md .single-status .company-rating {
    margin-left: auto;
  }
  .vacancy-index-wrapper .search-results .search-card-company .company-rating .grey,
  .vacancy-view-wrapper .search-results .search-card-company .company-rating .grey {
    display: none;
  }
  .vacancy-index-wrapper .search-results .search-card-company .col-md-3,
  .vacancy-view-wrapper .search-results .search-card-company .col-md-3 {
    text-align: center;
  }
  .vacancy-index-wrapper #mz-modal .modal-footer .btn,
  .vacancy-view-wrapper #mz-modal .modal-footer .btn {
    width: 100%;
  }
}
.vacancy-index-wrapper .flag-sm,
.vacancy-view-wrapper .flag-sm {
  margin-left: -4px;
  outline: 1px solid #e6e6e6;
  display: inline-block;
  position: relative;
  top: 3px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
.vacancy-index-wrapper .fancytree-node .tooltip.right .tooltip-arrow,
.vacancy-view-wrapper .fancytree-node .tooltip.right .tooltip-arrow {
  border-top-color: transparent !important;
  border-right-color: #fff;
}
.vacancy-index-wrapper .fancytree-node .tooltip-inner,
.vacancy-view-wrapper .fancytree-node .tooltip-inner {
  background-color: #fff !important;
  width: auto !important;
  color: #1E3C49;
  height: 100% !important;
  padding: 7px 10px;
  font-size: 15px !important;
  font-family: Roboto;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  text-align: left;
  min-width: auto;
}
.vacancy-index-wrapper .fancytree-node .tooltip-inner a,
.vacancy-view-wrapper .fancytree-node .tooltip-inner a {
  margin: 0;
}
.vacancy-index-wrapper .search-results div.list-view,
.vacancy-view-wrapper .search-results div.list-view {
  padding-bottom: 60px !important;
}
.body-vacancy-index-wrapper .select2-dropdown {
  border-radius: 0 0 2px 2px !important;
}
